openapi: 3.0.1
info:
  title: Swagger IT Health - Agendamento
  description: Documentação da API que será utilizada no aplicativo Agendamento.
  version: 1.0.0
servers:
  - url: 'http://tstapi.rhhealth.com.br/api/'
paths:
  /auth:
    post:
      tags:
        - usuario
      operationId: postAuth
      description: >-
        Autenticamos e retornamos o token para as outras operações e
        codigo_usuario.
      security: []
      parameters:
          -   in: path
              name: apelido
              schema:
                  type: integer
              required: true
              description: Login do usuário
          -   in: path
              name: senha
              schema:
                  type: integer
              required: true
              description: Senha do usuário
          -   in: path
              name: codigo_sistema
              schema:
                  type: integer
              required: false
              description: Código do sistema (Modulo agenda = 2)
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apelido:
                  type: string
                  example: login_do_usuario
                senha:
                  type: string
                  example: senha_do_usuario
                codigo_sistema:
                    type: integer
                    example: 2
              required:
                - apelido
                - senha
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          token:
                            type: string
                            example: >-
                              eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0ZV9iZXJuamFtaW4iLCJleHAiOjE1NzAwNDM0MTh9.M3TbWzDOEKD2Gs6ICrVWkabFY0Rza7n9W7CFlzdeOgc
                          codigo_usuario:
                            type: integer
                            example: 72273
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /usuario:
    post:
      operationId: postUsuario
      tags:
        - usuario
      description: >-
        Quando cadastrar um usuário e retornar sucesso, iremos logar e retornar
        o codigo do usuario e o token. Quando ocorrer um erro irá ter o indice
        error, e uma mensagem.
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nome:
                  type: string
                  example: SERGIO LEANDRO LIMA SALLES
                login:
                  type: string
                  example: 07329099708
                senha:
                  type: string
                  example: '123456'
                email:
                  type: string
                  example: teste@teste.com.br
                cpf:
                  type: string
                  example: 07329099708
                data_nascimento:
                  type: string
                  example: '1976-07-05'
                sexo:
                  type: string
                  example: M
                telefone:
                  type: string
                  example: '8138612194'
                celular:
                  type: string
                  example: '81999556553'
                apelido_sistema:
                  type: string
                  example: Serginho
                cliente:
                  type: array
                  items:
                    type: object
                    properties:
                      codigo_cliente:
                        type: string
                        example: '71758'
                      codigo_confirmacao:
                        type: string
                        example: '123456'
                notificacao:
                  type: integer
                  example: 1
                token_push:
                  type: string
                  example: xxxxxxxxxxxxxxxxx
                codigo_sistema:
                  type: integer
                  example: 2
                codigo_perfil:
                  type: integer
                  example: 1
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          token:
                            type: string
                            example: >-
                              eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0ZV9iZXJuamFtaW4iLCJleHAiOjE1NzAwNDM0MTh9.M3TbWzDOEKD2Gs6ICrVWkabFY0Rza7n9W7CFlzdeOgc
                          codigo_usuario:
                            type: integer
                            example: 72273
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      error:
                        type: object
                        properties:
                          message:
                            type: array
                            items:
                              type: object
                              properties:
                                cpf:
                                  type: string
                                  example: CPF já cadastrado
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  '/usuario/{codigo_usuario}':
    put:
      operationId: putUsuario
      tags:
        - usuario
      description: >-
        Na chamada não pode alterar o login e senha. Caso envie dados no indice
        cliente irá atualizar para o novo cliente.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: integer
          required: true
          description: ID do usuário ou CPF
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nome:
                  type: string
                  example: SERGIO LEANDRO LIMA SALLES
                email:
                  type: string
                  example: teste@teste.com.br
                cpf:
                  type: string
                  example: 07329099708
                data_nascimento:
                  type: string
                  example: '1976-07-05'
                sexo:
                  type: string
                  example: M
                telefone:
                  type: string
                  example: '8138612194'
                celular:
                  type: string
                  example: '81999556553'
                apelido_sistema:
                  type: string
                  example: Serginho
                cliente:
                  type: array
                  items:
                    type: object
                  example: []
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: string
                        example: Registro atualizado com sucesso!
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 404
                  result:
                    type: object
                    properties:
                      data:
                        type: string
                        example: Not Found
    get:
      operationId: getUsuario
      tags:
        - usuario
      description: Codigo de usuario para teste 72247
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: string
          required: true
          description: ID do usuário
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          codigo_usuario:
                            type: integer
                            example: 134155
                          nome:
                            type: string
                            example: SERGIO LEANDRO LIMA SALLES
                          email:
                            type: string
                            example: teste@teste.com.br
                          celular:
                            type: string
                            example: '81999556553'
                          telefone:
                            type: string
                            example: '8138612194'
                          cpf:
                            type: string
                            example: 07329099708
                          Cliente:
                            type: object
                            properties:
                              nome_fantasia:
                                type: string
                                example: >-
                                  SIEMENS LTDA - SAO PAULO - Anhanguera -
                                  44013159000116
                              razao_social:
                                type: string
                                example: SIEMENS LTDA
                          fornecedor:
                            type: object
                            properties:
                              codigo:
                                type: integer
                                example: '8350'
                              nome_fantasia:
                                type: string
                                example: 'AMBULATÓRIO MÉDICO ANHANGUERA  - SIEMENS'
                              razao_social:
                                type: string
                                example: 'AMBULATÓRIO MÉDICO ANHANGUERA  - SIEMENS'
                              cnpj:
                                type: integer
                                example: '44013159000116'
                          ContatoEmergencia:
                            type: object
                            properties:
                              nome:
                                type: string
                                example: Will
                              telefone:
                                type: string
                                example: (81) 3861-2194
                              celular:
                                type: string
                                example: (89) 98130-2356
                              grau_parentesco:
                                type: string
                                example: ''
                              email:
                                type: string
                                example: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 404
                  result:
                    type: object
                    properties:
                      data:
                        type: string
                        example: Not Found
  '/usuario/cliente/{cpf}':
    get:
      operationId: getUsuarioCliente
      tags:
        - usuario
      description: Retorna o codigo do cliente e o nome do mesmo.
      security: []
      parameters:
        - in: path
          name: cpf
          schema:
            type: string
          required: true
          description: CPF do usuário
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            codigo_cliente:
                              type: string
                              example: '71758'
                            nome_cliente:
                              type: string
                              example: >-
                                SIEMENS LTDA - SAO PAULO - Anhanguera -
                                44013159000116
                            flag_vinclulado:
                              type: integer
                              example: 1
                            codigo_usuario:
                              type: string
                              example: '72247'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 404
                  result:
                    type: object
                    properties:
                      data:
                        type: string
                        example: Not Found

  '/minha-conta/dados/{codigo_usuario}':
      get:
        operationId: getDadosMinhaConta
        tags:
          - usuario
        description: 'Busca dados do usuário (Testes realizados com código de usuario: 70858) (Figma MC01)'
        security:
          - bearerAuth: []
        parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: string
          required: true
          description: ID do usuário
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  properties:
                    status:
                      type: "number"
                      example: 200
                    result:
                      required:
                        - "data"
                      properties:
                        data:
                          type: "array"
                          items:
                            type: "object"
                            properties:
                              codigo_usuario:
                                type: "number"
                                example: 70858
                              nome:
                                type: "string"
                                example: "FERNANDO HEIDRICH"
                              nome_usuario:
                                type: "string"
                                example: "fernando.heidrich"
                              email:
                                type: "string"
                                example: "teste.heidrich@siemens.com.br"
                              tipo:
                                type: "string"
                                example: "Médico (Cliente)"
                              codigo_conselho_classe:
                                type: "number"
                                example: 1
                              conselho_classe_combo:
                                type: "array"
                                items:
                                  type: "object"
                                  properties:
                                    codigo:
                                      type: "string"
                                      example: "1"
                                    descricao:
                                      type: "string"
                                      example: "CRM"
                              numero_conselho:
                                type: "string"
                                example: "108550"
                              conselho_uf:
                                type: "string"
                                example: "SP"
                              unidade:
                                type: "array"
                                items:
                                  type: "object"
                                  properties:
                                    codigo_fornecedor:
                                      type: "number"
                                      example: 8350
                                    nome_fornecedor:
                                      type: "string"
                                      example: "AMBULATÓRIO MÉDICO ANHANGUERA  - SIEMENS"
                      type: "object"
          '400':
            description: Bad Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BadRequest'
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Unauthorized'
          '404':
            description: Not found
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    status:
                      type: number
                      example: 404
                    result:
                      type: object
                      properties:
                        data:
                          type: string
                          example: Not Found

  '/minha-conta/dados':
    put:
      operationId: putDadosUsuario
      tags:
        - usuario
      description: 'Atualiza dados do usuário (Testes realizados com codigo de usuario: 70858) (Figma MC01)'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: integer
          required: true
          description: Código do usuário logado (codigo_usuario_alteracao)
        - in: path
          name: nome
          schema:
            type: string
          required: false
          description: Nome do usuário
        - in: path
          name: email
          schema:
            type: string
          required: false
          description: E-mail do usuário
        - in: path
          name: codigo_conselho_classe
          schema:
            type: integer
          required: false
          description: Código conselho de classe do usuário médico
        - in: path
          name: numero_conselho
          schema:
            type: string
          required: false
          description: Número conselho de classe do usuário médico
        - in: path
          name: conselho_uf
          schema:
            type: string
          required: false
          description: Uf do conselho do usuário médico
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codigo_usuario:
                  type: "string"
                  example: "70858"
                nome:
                  type: "string"
                  example: "TESTE HEIDRICH"
                email:
                  type: "string"
                  example: "teste.heidrich@siemens.com.br"
                numero_conselho:
                  type: "string"
                  example: "108550"
                conselho_uf:
                  type: "string"
                  example: "SP"
                codigo_conselho_profissional:
                  type: "string"
                  example: "1"
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: "number"
                    example: 200
                  result:
                    required:
                      - "data"
                    properties:
                      data:
                        type: "string"
                        example: "Registro atualizado com sucesso!"
                    type: "object"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 404
                  result:
                    type: object
                    properties:
                      data:
                        type: string
                        example: Not Found
  '/minha-conta/foto/{codigo_usuario}':
    get:
      operationId: getFotoUsuario
      tags:
        - usuario
      description: 'Retorna foto/avatar do usuário (Testes realizados com codigo de usuario: 63008) (Figma MC01)'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: string
          required: true
          description: ID do usuário
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: "number"
                    example: 200
                  result:
                    required:
                      - "data"
                    properties:
                      data:
                        type: "string"
                        example: "https://api.rhhealth.com.br/agendamento/minha_conta/2020/05/09/18770B21-8627-73C3-AA5A-345BC2901F2A.png"
                    type: "object"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 404
                  result:
                    type: object
                    properties:
                      data:
                        type: string
                        example: Not Found
  '/minha-conta/foto':
    put:
      operationId: putFotoUsuario
      tags:
        - usuario
      description: 'Atualiza a foto/avatar do usuário (Testes realizados com codigo de usuario: 63008) (Figma MC01)'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: integer
          required: true
          description: ID do usuário
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codigo_usuario:
                  type: string
                  example: ID do usuário
                foto:
                  type: string
                  example: imagem_em_base64
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: "number"
                    example: 200
                  result:
                    required:
                      - "data"
                    properties:
                      data:
                        type: "string"
                        example: "https://api.rhhealth.com.br/agendamento/minha_conta/2020/05/09/18770B21-8627-73C3-AA5A-345BC2901F2A.png"
                    type: "object"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 404
                  result:
                    type: object
                    properties:
                      data:
                        type: string
                        example: Not Found

  '/gestao_usuario/{codigo_usuario}':
    get:
      operationId: getUsuarioFornecedor
      tags:
        - Configurações
      description: Codigo de usuario para teste 70858, figma (01.05.01)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: string
          required: true
          description: ID do usuário
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          codigo_usuario:
                              type: integer
                              example: 74874
                          nome_usuario:
                              type: string
                              example: "Willians Paulo Teste"
                          funcao:
                              type: string
                              example: "Médico (Cliente)"
                          codigo_fornecedor:
                              type: integer
                              example: "8350"
                          codigo_medico:
                              type: integer
                              example: "null"
                          Fornecedor:
                            type: object
                            properties:
                              codigo_fornecedor:
                                type: integer
                                example: '8350'
                              nome_fornecedor:
                                type: string
                                example: 'AMBULATÓRIO MÉDICO ANHANGUERA  - SIEMENS'
                          Permissao:
                              type: array
                              items:
                                  type: object
                                  properties:
                                      codigo_permissao:
                                          type: string
                                          example: "1"
                                      descricao_permissoes:
                                          type: string
                                          example: "Atendimento"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 404
                  result:
                    type: object
                    properties:
                      data:
                        type: string
                        example: Not Found
    post:
      operationId: setUsuarioFornecedor
      tags:
        - Configurações
      description: Insere um novo usuario médico
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: string
          required: true
          description: ID do usuário
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nome:
                  type: string
                  example: "Willians"
                login:
                  type: string
                  example: "will.teste"
                senha:
                  type: string
                  example: "1234"
                email:
                  type: string
                  example: "will@teste.com"
                codigo_funcao:
                  type: integer
                  example: 19
                codigo_medico:
                  type: integer
                  example: "null"
                permissoes:
                  type: object
                  properties:
                    codigo:
                      type: integer
                      example: 1
                unidades:
                  type: object
                  properties:
                    codigo:
                      type: integer
                      example: 8350
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            codigo_atestado:
                              type: integer
                              example: 15833
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 404
                  result:
                    type: object
                    properties:
                      error:
                        type: object
                        properties:
                          message:
                            type: array
                            items:
                              type: object
                              properties:
                                Error:
                                  type: string
                                  example: Código médico não encontrado
    put:
      operationId: setUsuarioFornecedorPut
      tags:
        - Configurações
      description: altera os dados do usuario
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: string
          required: true
          description: ID do usuário
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codigo:
                  type: integer
                  example: 70858
                nome:
                  type: string
                  example: "Willians"
                email:
                  type: string
                  example: "will@teste.com"
                codigo_funcao:
                  type: integer
                  example: 19
                codigo_medico:
                  type: integer
                  example: "null"
                permissoes:
                  type: object
                  properties:
                    codigo:
                      type: integer
                      example: 1
                unidades:
                  type: object
                  properties:
                    codigo:
                      type: integer
                      example: 8350
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            codigo_atestado:
                              type: integer
                              example: 15833
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 404
                  result:
                    type: object
                    properties:
                      error:
                        type: object
                        properties:
                          message:
                            type: array
                            items:
                              type: object
                              properties:
                                Error:
                                  type: string
                                  example: Código médico não encontrado
  '/gestao_usuario/permissoes':
    get:
      operationId: getFornecedorPermissoes
      tags:
        - Configurações
      description: busca as permissões para a tela de cadastro de usuario medico, figma (01.05.02)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          codigo:
                            type: integer
                            example: 1
                          descricao:
                            type: string
                            example: "Atendimento"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 404
                  result:
                    type: object
                    properties:
                      data:
                        type: string
                        example: Not Found
  '/gestao_usuario/funcao':
    get:
      operationId: getFornecedorFuncao
      tags:
        - Configurações
      description: busca as funcoes da tela de cadastro de usuario medico, figma (01.05.02)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          codigo:
                            type: integer
                            example: 1
                          descricao:
                            type: string
                            example: "Médico (Prestador)"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 404
                  result:
                    type: object
                    properties:
                      data:
                        type: string
                        example: Not Found
  '/atestados/ativos/{codigo_usuario}':
    get:
      operationId: getAtestadosAtivos
      tags:
        - Atestados
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: string
          required: true
          description: ID do usuário
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            codigo_atestados:
                              type: integer
                              example: 15765
                            data_validade:
                              type: string
                              example: '019-09-30T00:00:00+00:00'
                              format: date-time
                            periodo:
                              type: string
                              example: '6'
                            motivo:
                              type: string
                              example: >-
                                CONSULTA MÉDICA - Licença remunerada -
                                Liberalidade da empresa ou Acordo/Convenção
                                Coletiva de Trabalho
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  '/atestados/historico/{codigo_usuario}':
    get:
      operationId: getAtestadosHistoricos
      tags:
        - Atestados
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: string
          required: true
          description: ID do usuário
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            codigo_atestados:
                              type: integer
                              example: 15765
                            data_validade:
                              type: string
                              example: '019-09-30T00:00:00+00:00'
                              format: date-time
                            periodo:
                              type: string
                              example: '6'
                            motivo:
                              type: string
                              example: >-
                                CONSULTA MÉDICA - Licença remunerada -
                                Liberalidade da empresa ou Acordo/Convenção
                                Coletiva de Trabalho
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

  '/cid?nome={search}':
    get:
      operationId: getCid
      tags:
        - Atestados
      description: Retorna CID
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: search
          schema:
            type: string
          required: true
          description: string a ser buscada
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            codigo:
                              type: integer
                              example: 1
                            descricao:
                              type: string
                              example: A00 Colera
                            codigo_usuario_inclusao:
                              type: integer
                              example: 61891
                            data_inclusao:
                              type: string
                              example: '2016-10-05T14:05:13.000Z'
                            codigo_usuario_alteracao:
                              type: string
                              example: null
                            data_alteracao:
                              type: string
                              example: null
                            ativo:
                              type: integer
                              example: 1
                            codigo_cid10:
                              type: string
                              example: A00
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  '/profissional/{codigo_usuario}':
    get:
      operationId: getProfissional
      tags:
        - Atestados
      description: Retorna os profissionais para um usuário especifico
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: integer
          required: true
          description: ID do usuário
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            codigo:
                              type: integer
                              example: 10810
                            nome:
                              type: string
                              example: 'Aldo Felipe Pinto,'
                            numero_conselho:
                              type: integer
                              example: 181553
                            conselho_uf:
                              type: string
                              example: SP
                            descricao:
                              type: string
                              example: CRM
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  '/motivo/afastamento':
    get:
      operationId: getMotivoAfastamento
      tags:
        - Atestados
      description: Retorna os profissionais para um usuário especifico
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: integer
          required: true
          description: ID do usuário
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            codigo:
                              type: integer
                              example: 27
                            descricao:
                              type: string
                              example: ALISTAMENTO MILITAR
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  '/atestados/{codigo_usuario}':
    post:
      operationId: postAtestados
      tags:
        - Atestados
      description: Insere um novo atestado
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: integer
          required: true
          description: ID do usuário
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profissional:
                  type: object
                  properties:
                    codigo_medico:
                      type: string
                      example: 17969
                    numero_conselho:
                      type: string
                      example: 58150
                    uf_conselho:
                      type: string
                      example: MG
                    nome:
                      type: string
                      example: Adriana de brito
                periodo:
                  type: object
                  properties:
                    afastamento_em_horas:
                      type: boolean
                      example: true
                    data:
                      type: string
                      example: 12/09/2019
                    range:
                      type: object
                      properties:
                        de:
                          type: string
                          example: 780
                        ate:
                          type: string
                          example: 1020
                        em_horas:
                          type: string
                          example: 240
                motivo:
                  type: object
                  properties:
                    medico:
                      type: integer
                      example: 1
                    codigo_motivo_licenca:
                      type: integer
                      example: 1
                    codigo_motivo_esocial:
                      type: integer
                      example: 1
                    descricao:
                      type: string
                      example: 01 - Acidente/Doença do trabalho
                cid10:
                  type: object
                  properties:
                    codigo:
                      type: integer
                      example: 1899
                    descricao:
                      type: string
                      example: D77 Outr transt sangue e org hematop doenc COP
                    sigla:
                      type: string
                      example: D77
                foto_atestado:
                  type: object
                  properties:
                    imagem_base64:
                      type: string
                      example: iVBORw0KGgoAAAANSUhEUgAAAToAAAFaCAYAAACOtpEGAAAKw2lDQ1B
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
                  result:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            codigo_atestado:
                              type: integer
                              example: 15833
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 404
                  result:
                    type: object
                    properties:
                      error:
                        type: object
                        properties:
                          message:
                            type: array
                            items:
                              type: object
                              properties:
                                Error:
                                  type: string
                                  example: Código médico não encontrado

  '/agendamentos/{codigo_cliente}':
    get:
      operationId: getAgendamentos
      tags:
        - Agendamento
      description: retorna agendamentos
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_cliente
          schema:
            type: integer
          required: true
          description: ID do cliente
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    format: int32
                    example: 200
                  result:
                    type: object
                    properties:
                      status:
                        type: integer
                        format: int32
                        example: 200
                      result:
                        type: object
                        properties:
                          data:
                            type: object
                            properties:
                              agendamento_detalhe:
                                type: object
                                properties:
                                  data:
                                    type: string
                                    example: 2020-02-04 1300
                                  numero_pedido:
                                    type: integer
                                    format: int32
                                    example: 143389
                                  solicitante:
                                    type: string
                                    example: >-
                                      SIEMENS LTDA - Rio de Janeiro - Ilha do
                                      Fundão - 44013159000469
                                  Empresa:
                                    type: object
                                    properties:
                                      razao_social:
                                        type: string
                                        example: SIEMENS LTDA
                                      nome_Fantasia:
                                        type: string
                                        example: >-
                                          SIEMENS LTDA - Rio de Janeiro - Ilha do
                                          Fundão - 44013159000469
                                      cnpj:
                                        type: string
                                        example: 44013159000469
                                  seus_dados:
                                    type: object
                                    properties:
                                      cpf:
                                        type: string
                                        example: 07329099708
                                      data_nascimento:
                                        type: string
                                        format: date
                                        example: '1976-07-05T00:00:00.000Z'
                                      idade:
                                        type: string
                                        example: 43
                                      setor:
                                        type: string
                                        example: 75100113-VENDAS-551.0004
                                      cargo:
                                        type: string
                                        example: ENGENHEIRO VENDAS PL - 12445
                                  sobre_Exame:
                                    type: object
                                    properties:
                                      medico_reponsavel:
                                        type: string
                                        format: nullable
                                      grade_exames:
                                        type: string
                                        format: nullable
                                      preparo_exame:
                                        type: string
                                        format: nullable
                                  local_Agendamento:
                                    type: object
                                    properties:
                                      lat:
                                        type: string
                                        example: -22.9075566
                                      long:
                                        type: string
                                        example: -43.1756442
                                      endereco:
                                        type: string
                                        example: >-
                                          Rua México 168  8 º ANDAR - Centro - Rio
                                          de Janeiro - RJ
                                      avalicao:
                                        type: string
                                        example: 0
                                      total_avaliacoes:
                                        type: string
                                        example: 0
                                      telefone_clinica:
                                        type: string
                                        example: (21) 25334421
                                      email_clinica:
                                        type: string
                                        example: teste@teste.com
                                      horario_Funcionamento:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            dia_semana:
                                              type: string
                                              example: seg
                                            horario_inicio:
                                              type: integer
                                              format: int32
                                              example: 800
                                            horario_fim:
                                              type: integer
                                              format: int32
                                              example: 1530
                                      imagens:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            ordem:
                                              type: string
                                              example: null
                                            imagem:
                                              type: string
                                              example: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  '/agendamento/detalhe/{codigo_id_agendamento}':
    get:
      operationId: getAgendamentoDetalhe
      tags:
        - Agendamento
      description: retorna item/exame do agendamento
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_id_agendamento
          schema:
            type: integer
          required: true
          description: ID do agendamento
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: "number"
                    example: 200
                  result:
                    required:
                      - "data"
                    properties:
                      data:
                        required:
                          - "agendamento_detalhe"
                        properties:
                          agendamento_detalhe:
                            required:
                              - "data"
                              - "numero_pedido"
                              - "solicitante"
                              - "empresa"
                              - "seus_dados"
                              - "sobre_exame"
                              - "local_agendamento"
                            properties:
                              numero_pedido:
                                type: "number"
                                example: 143086
                              solicitante:
                                type: "string"
                                example: "UTEMA - USINA TERMELETRICA MANAUS 3 - SIEMENS LTDA JUNDIAÍ 1"
                              empresa:
                                required:
                                  - "razao_social"
                                  - "nome_fantasia"
                                  - "cnpj"
                                properties:
                                  razao_social:
                                    type: "string"
                                    example: "ANDRADE GUTIERREZ ENGENHARIA S/A"
                                  nome_fantasia:
                                    type: "string"
                                    example: "UTEMA - USINA TERMELETRICA MANAUS 3 - SIEMENS LTDA JUNDIAÍ 1"
                                  cnpj:
                                    type: "string"
                                    example: "17262212292094"
                                type: "object"
                              seus_dados:
                                required:
                                  - "cpf"
                                  - "data_nascimento"
                                  - "idade"
                                  - "setor"
                                  - "cargo"
                                properties:
                                  cpf:
                                    type: "string"
                                    example: "22021855856"
                                  data_nascimento:
                                    type: "string"
                                    example: "1981-05-27"
                                  idade:
                                    type: "string"
                                    example: "39"
                                  setor:
                                    type: "string"
                                    example: "75008804-CAMPO-551.0031"
                                  cargo:
                                    type: "string"
                                    example: "MECANICO I - 26587"
                                type: "object"
                              sobre_exame:
                                required:
                                  - "medico_reponsavel"
                                  - "grade_exames"
                                  - "preparo_exame"
                                  - "imagem"
                                properties:
                                  grade_exames:
                                    type: "string"
                                    example: "AVALIAÇÃO PSICOSSOCIAL"
                                  preparo_exame:
                                    type: "string"
                                    example: ""
                                type: "object"
                              local_agendamento:
                                required:
                                  - "nome"
                                  - "lat"
                                  - "long"
                                  - "endereco"
                                  - "avaliacao"
                                  - "total_avaliacoes"
                                  - "telefone_clinica"
                                  - "email_clinica"
                                  - "abertura"
                                  - "horario_funcionamento"
                                  - "codigo_fornecedor"
                                  - "imagens"
                                  - "nota"
                                properties:
                                  nome:
                                    type: "string"
                                    example: "JCF SERVIȏOS MEDICOS DE ITAPETININGA"
                                  lat:
                                    type: "string"
                                    example: "-23.5929891"
                                  long:
                                    type: "string"
                                    example: "-48.044285799999997"
                                  endereco:
                                    type: "string"
                                    example: "Rua Joaquim Antônio de Oliveira,168   - Vila Maria - Itapetininga - SP"
                                  total_avaliacoes:
                                    type: "number"
                                    example: 0
                                  telefone_clinica:
                                    type: "string"
                                    example: "(15) 32722041"
                                  email_clinica:
                                    type: "string"
                                    example: "jcf.servicosmedicos@gmail.com"
                                  abertura:
                                    required:
                                      - "horario_atendimento_atual"
                                      - "abertura"
                                    properties:
                                      horario_atendimento_atual:
                                        type: "string"
                                        example: "08:00 - 18:00"
                                      abertura:
                                        type: "string"
                                        example: "true"
                                    type: "object"
                                  horario_funcionamento:
                                    type: "array"
                                    items:
                                      type: "object"
                                      properties:
                                        dia_semana:
                                          type: "string"
                                          example: "Segunda-feira"
                                        horario_inicio:
                                          type: "string"
                                          example: "08:00"
                                        horario_fim:
                                          type: "string"
                                          example: "18:00"
                                  codigo_fornecedor:
                                    type: "string"
                                    example: "915"
                                  imagens:
                                    type: "array"
                                    items:
                                      type: "object"
                                      properties:
                                        ordem:
                                          type: "string"
                                          example: ""
                                        imagem:
                                          type: "string"
                                          example: ""
                                  nota:
                                    type: "number"
                                    example: 0

        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  '/agendamento/historico/{codigo_usuario}/{cpf}':
    get:
      operationId: getAgendamentosHistorico
      tags:
        - Agendamento
      description: Busca histórico de exames de um funcionário pelo código de usuário ou cpf.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo_usuario
          schema:
            type: integer
          required: true
          description: Código de usuário
        - in: path
          name: cpf
          schema:
            type: integer
          required: false
          description: CPF do funcionário
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: "number"
                    example: 200
                  result:
                    required:
                      - "data"
                      - "paging"
                    properties:
                      data:
                        type: "array"
                        items:
                          type: "object"
                          properties:
                            codigo_pedido_exame:
                              type: "number"
                              example: 164719
                            id_agendamento:
                              type: "string"
                              example: "374885"
                            codigo_exame:
                              type: "string"
                              example: "27"
                            exame:
                              type: "string"
                              example: "AVALIAÇÃO PSICOSSOCIAL"
                            nome_fantasia_solicitante:
                              type: "string"
                              example: "SIEMENS LTDA - JUNDIAI 1 - 44013159003131"
                            nome_cliente:
                              type: "string"
                              example: "SIEMENS LTDA"
                            tipo_agendamento:
                              type: "string"
                              example: "Exame admissional"
                            resultado:
                              type: "string"
                              example: "Apto"
                            codigo_fornecedor:
                              type: "string"
                              example: "8360"
                            nome_credenciado:
                              type: "string"
                              example: "AMBULATÓRIO SERVIÇOS MÉDICO JUNDIAà - I - SIEMENS"
                            local_agendamento:
                              type: "string"
                              example: "AVENIDA ENGENHEIRO JOÃO FERNANDES GIMENES MOLINA,1745  - DISTRITO INDUSTRIAL - JUNDIAà - "
                            data_agendamento:
                              type: "string"
                              example: "2019-11-14"
                            hora_agendamento:
                              type: "string"
                              example: "1220"
                            data_agendamento_itens:
                              type: "string"
                              example: "2019-11-14"
                            data_realizacao_exames:
                              type: "string"
                              example: "2019-11-13"
                            data_resultado:
                              type: "string"
                              example: "2019-11-13"
                            data_baixa:
                              type: "string"
                              example: "2019-11-14 12:19:29.000"
                            data:
                              type: "string"
                              example: "2019-11-14 1220"
                            pendente_exames:
                              type: "string"
                              example: "0"
                            imagem_exame:
                              type: "string"
                              example: "https://api.rhhealth.com.br/ithealth/2020/01/30/862715E6-EA5F-6665-5BA4-DA846C3BB6BF.pdf"
                      paging:
                        required:
                          - "finder"
                          - "page"
                          - "current"
                          - "count"
                          - "perPage"
                          - "start"
                          - "end"
                          - "prevPage"
                          - "nextPage"
                          - "pageCount"
                          - "sort"
                          - "direction"
                          - "limit"
                          - "sortDefault"
                          - "directionDefault"
                          - "scope"
                          - "completeSort"
                        properties:
                          finder:
                            type: "string"
                            example: "all"
                          page:
                            type: "number"
                            example: 1
                          current:
                            type: "number"
                            example: 3
                          count:
                            type: "number"
                            example: 3
                          perPage:
                            type: "number"
                            example: 20
                          start:
                            type: "number"
                            example: 1
                          end:
                            type: "number"
                            example: 3
                          prevPage:
                            type: "boolean"
                            example: false
                          nextPage:
                            type: "boolean"
                            example: false
                          pageCount:
                            type: "number"
                            example: 1
                          sortDefault:
                            type: "boolean"
                            example: false
                          directionDefault:
                            type: "boolean"
                            example: false
                          completeSort:
                            type: "array"
                            items:
                              type: "undefined"
                            example: []
                        type: "object"
                    type: "object"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  '/agendamento/list/':
    post:
      operationId: getAgendamentoList
      tags:
          - Agendamento
      description: Retorna os agendamentos dos exames
      security:
      -   bearerAuth: []
      parameters:
        - in: path
          name: por_tipo
          schema:
              type: integer
          required: true
          description: ID para indentificar se a requisição é por tipo de exame ou pedido
        - in: path
          name: codigo_fornecedor
          required: true
          schema:
              type: integer
          description: ID do fornecedor
        - in: path
          name: tipo_data
          required: true
          schema:
              type: integer
          description: ID para identificar o tipo de busca que será feita por data
        - in: path
          name: data_por_dia
          required: false
          schema:
              type: string
          description: Data para buscar consulta nesse dia
        - in: path
          name: data_inicio
          required: false
          schema:
              type: string
          description: Data inicial para busca por "semana" ou "mês"
        - in: path
          name: data_fim
          required: false
          schema:
              type: string
          description: Data final para busca por "semana" ou "mês"
        - in: path
          name: especialidade
          required: false
          schema:
              type: string
          description: Filtro para buscar agendamento pela especialidade do medico
        - in: path
          name: codigo_medico
          required: false
          schema:
              type: integer
          description: Filtro para buscar o médico pelo código do médico
        - in: path
          name: codigo_pedidos_exames
          required: false
          schema:
              type: integer
          description: Filtro para buscar o agendamentos pelo código do pedido
        - in: path
          name: codigo_pedidos_exames
          required: false
          schema:
              type: integer
          description: Filtro para buscar agendamentos pelo código do exame
        - in: path
          name: nome
          required: false
          schema:
              type: integer
          description: Filtro para buscar agendamentos pelo nome do paciente
        - in: path
          name: cpf
          required: false
          schema:
              type: integer
          description: Filtro para buscar agendamentos pelo cpf do paciente
        - in: path
          name: rg
          required: false
          schema:
              type: integer
          description: Filtro para buscar agendamentos pelo rg do paciente
        - in: path
          name: matricula
          required: false
          schema:
              type: integer
          description: Filtro para buscar agendamentos pela matricula do paciente
        - in: path
          name: empresa
          required: false
          schema:
              type: integer
          description: Filtro para buscar agendamentos peo nome da empresa
      responses:
              '200':
                  description: successful operation
                  content:
                      application/json:
                          schema:
                              properties:
                                status:
                                  type: "number"
                                  example: 200
                                result:
                                  required:
                                    - "data"
                                  properties:
                                    data:
                                      type: "array"
                                      items:
                                        type: "object"
                                        properties:
                                          dia_semana:
                                            type: "string"
                                            example: "Segunda"
                                          hora:
                                            type: "string"
                                            example: "08:00"
                                          agendamento:
                                            type: "array"
                                            items:
                                              type: "object"
                                              properties:
                                                codigo_fornecedor:
                                                  type: "string"
                                                  example: "8360"
                                                codigo_itens_pedidos_exames:
                                                  type: "string"
                                                  example: "315069"
                                                status_exame:
                                                  type: "string"
                                                  example: "BAIXADO TOTAL"
                                                codigo_status_exame:
                                                  type: "string"
                                                  example: "3"
                                                data:
                                                  type: "string"
                                                  example: "2019-07-01"
                                                hora:
                                                  type: "string"
                                                  example: "800"
                                                codigo_pedidos_exames:
                                                  type: "string"
                                                  example: "145230"
                                                codigo_medico:
                                                  type: "string"
                                                  example: "732093"
                                                nome_medico:
                                                  type: "string"
                                                  example: "KELEN PEREZ DO PRADO "
                                                especialidade:
                                                  type: "string"
                                                  example: "FONOAUDIOLOGIA"
                                                codigo_funcionario:
                                                  type: "string"
                                                  example: "95509"
                                                nome_funcionario:
                                                  type: "string"
                                                  example: "ANA CAROLINE SILVA SANTOS"
                                                cpf:
                                                  type: "string"
                                                  example: "51148703861"
                                                matricula:
                                                  type: "string"
                                                  example: "81179"
                                                tipo_exame:
                                                  type: "string"
                                                  example: "Exame admissional"
                                                codigo_status_itens_pedidos_exames:
                                                  type: "string"
                                                  example: "2"
                                                status_itens_pedidos_exames_cor:
                                                  type: "integer"
                                                  example: 5
                                                vinculo:
                                                  type: "number"
                                                  example: 1
                                                vinculo_descricao:
                                                  type: "string"
                                                  example: "Colaborador"
                                  type: "object"
              '401':
                  description: Unauthorized
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Unauthorized'
              '404':
                  description: Not found
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/NotFound'
  '/agendamento/list/ocupacional':
      post:
          operationId: postAgendamentoListOcupacional
          tags:
              - Agendamento
          description: Listagem de agendamento de exames ocupacionais
          security:
              -   bearerAuth: []
          parameters:
              -   in: path
                  name: codigo_fornecedor
                  schema:
                      type: integer
                  required: true
                  description: Codigo do fornecedor
              -   in: path
                  name: codigos_exames
                  required: true
                  schema:
                      type: string
                      description: codigo dos exames a serem realizados
              -   in: path
                  name: data_agendamento
                  required: true
                  schema:
                      type: string
                      description: filtro para listar os agendamentos para esse dia
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
                          properties:
                              codigo_fornecedor:
                                  type: integer
                                  example: 8350
                              codigos_exames:
                                  type: string
                                  example: 52,27,130
                              data_agendamento:
                                  type: string
                                  example: "2019-07-11"
          responses:
              '200':
                  description: successful operation
                  content:
                      application/json:
                          schema:
                              type: object
                              properties:
                                  status:
                                      type: integer
                                      format: int32
                                      example: 200
                                  result:
                                      type: object
                                      properties:
                                          data:
                                              type: object
                                              properties:
                                                  type: object
                                                  codigo_exame:
                                                      type: integer
                                                      example: 27
                                                  descricao:
                                                      type: string
                                                      example: AVALIAÃ‡ÃƒO PSICOSSOCIAL
                                                  hora:
                                                      type: string
                                                      example: 07:00
                                                  dia_semana:
                                                      type: string
                                                      example: Segunda
                                                  agendamento:
                                                      type: array
                                                      items:
                                                          type: object
                                                          properties:
                                                              nome_funcionario:
                                                                  type: string
                                                                  example: ANA PAULA SILVA DE ARRUDA
                                                              codigo_funcionario:
                                                                  type: integer
                                                                  example: 122915
                                                              codigo_medico:
                                                                  type: integer
                                                                  example: 3321
                                                              nome_medico:
                                                                  type: string
                                                                  example: Marcos Aurelio
                                                              data_agendamento:
                                                                  type: string
                                                                  example: "2019-07-01"
                                                              hora_agendamento:
                                                                  type: string
                                                                  example: 700
                                                              codigo_exame:
                                                                  type: integer
                                                                  example: 27
                                                              codigo_status_itens_pedidos_exames:
                                                                  type:type: integer
                                                                  example: 2
              '401':
                  description: Unauthorized
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Unauthorized'
              '404':
                  description: Not found
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/NotFound'
  '/agendamento/ocupacional/{codigo_usuario}/{cpf}/{codigo_fornecedor}':
      get:
          operationId: getAgendamentoOcupacional
          tags:
              - Agendamento
          description: Lista de exames disponiveis para paciente por empresa que ele é cadastrado (figma - 02.02.06 A e 02.02.07 A)
          security:
              -   bearerAuth: []
          parameters:
              -   in: path
                  name: codigo_usuario
                  schema:
                      type: integer
                  required: true
                  description: Codigo do usuário
                  example: 72721
              -   in: path
                  name: cpf
                  required: true
                  schema:
                      type: integer
                  description: CPF do paciente
                  example: 32646906838
              -   in: path
                  name: codigo_fornecedor
                  required: true
                  schema:
                      type: integer
                  description: Codigo do fornecedor
                  example: 8360
          responses:
              '200':
                  description: successful operation
                  content:
                      application/json:
                          schema:
                              type: object
                              properties:
                                  status:
                                      type: integer
                                      format: int32
                                      example: 200
                                  result:
                                      type: object
                                      properties:
                                          data:
                                              type: object
                                              properties:
                                                  type: object
                                                  cliente:
                                                      type: array
                                                      items:
                                                          type: object
                                                          properties:
                                                              type: object
                                                              codigo_cliente:
                                                                  type: integer
                                                                  example: 79930
                                                              nome_cliente:
                                                                  type: string
                                                                  example: DRESSER-RAND - SANTA BARBARA D OESTE - 54127733000463
                                                              codigo_cliente_matricula:
                                                                  type: iteger
                                                                  example: 79930
                                                              codigo_func_setor_cargo:
                                                                  type: interger
                                                                  example: 242179
                                                              codigo_funcionario:
                                                                  type: integer
                                                                  example: 149835
                                                              codigo_cliente_alocacao:
                                                                  type: integer
                                                                  example: 79930
                                                              indisponivel:
                                                                  type: string
                                                                  example: "true/false"
                                                              exames_disponiveis:
                                                                  type: array
                                                                  items:
                                                                      type: object
                                                                      properties:
                                                                          codigo_solicitacao_exame:
[...]
