openapi: 3.0.1
info:
    title: Swagger IT Health
    description: Documentação da API que será utilizada no aplicativo NINA.
    version: 1.0.0
servers:
    - url: 'https://tstapi.rhhealth.com.br/api/'
paths:
    /auth:
        post:
            tags:
                - usuario
            operationId: postAuth
            description: >-
                Autenticamos e retornamos o token para as outras operações e
                codigo_usuario.
            security: []
            requestBody:
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            type: object
                            properties:
                                apelido:
                                    type: string
                                    example: login_do_usuario
                                senha:
                                    type: string
                                    example: senha_do_usuario
                                codigo_perfil:
                                    type: string
                                    example: codigo_perfil por sistema (9->lyn,42->thermal,43->getao_risco)
                            required:
                                - apelido
                                - senha
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    token:
                                                        type: string
                                                        example: >-
                                                            eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0ZV9iZXJuamFtaW4iLCJleHAiOjE1NzAwNDM0MTh9.M3TbWzDOEKD2Gs6ICrVWkabFY0Rza7n9W7CFlzdeOgc
                                                    codigo_usuario:
                                                        type: integer
                                                        example: 72273
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
    /usuario:
        post:
            operationId: postUsuario
            tags:
                - usuario
            description: >-
                Quando cadastrar um usuário e retornar sucesso, iremos logar e retornar
                o codigo do usuario e o token. Quando ocorrer um erro irá ter o indice
                error, e uma mensagem.
            security: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                nome:
                                    type: string
                                    example: SERGIO LEANDRO LIMA SALLES
                                login:
                                    type: string
                                    example: 07329099708
                                senha:
                                    type: string
                                    example: '123456'
                                email:
                                    type: string
                                    example: teste@teste.com.br
                                cpf:
                                    type: string
                                    example: 07329099708
                                data_nascimento:
                                    type: string
                                    example: '1976-07-05'
                                sexo:
                                    type: string
                                    example: M
                                telefone:
                                    type: string
                                    example: '8138612194'
                                celular:
                                    type: string
                                    example: '81999556553'
                                apelido_sistema:
                                    type: string
                                    example: Serginho
                                cliente:
                                    type: array
                                    items:
                                        type: object
                                        properties:
                                            codigo_cliente:
                                                type: string
                                                example: '71758'
                                            codigo_confirmacao:
                                                type: string
                                                example: '123456'
                                notificacao:
                                    type: integer
                                    example: 1
                                token_push:
                                    type: string
                                    example: xxxxxxxxxxxxxxxxx
                                codigo_sistema:
                                    type: integer
                                    example: 1
                                codigo_perfil:
                                    type: integer
                                    example: 9->lyn,43->gestao_risco
                required: true
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    token:
                                                        type: string
                                                        example: >-
                                                            eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0ZV9iZXJuamFtaW4iLCJleHAiOjE1NzAwNDM0MTh9.M3TbWzDOEKD2Gs6ICrVWkabFY0Rza7n9W7CFlzdeOgc
                                                    codigo_usuario:
                                                        type: integer
                                                        example: 72273
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            error:
                                                type: object
                                                properties:
                                                    message:
                                                        type: array
                                                        items:
                                                            type: object
                                                            properties:
                                                                cpf:
                                                                    type: string
                                                                    example: CPF já cadastrado
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
    '/usuario/{codigo_usuario}':
        put:
            operationId: putUsuario
            tags:
                - usuario
            description: >-
                Na chamada não pode alterar o login e senha. Caso envie dados no indice
                cliente irá atualizar para o novo cliente.
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_usuario
                  schema:
                      type: integer
                  required: true
                  description: ID do usuário ou CPF
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                nome:
                                    type: string
                                    example: SERGIO LEANDRO LIMA SALLES
                                email:
                                    type: string
                                    example: teste@teste.com.br
                                cpf:
                                    type: string
                                    example: 07329099708
                                data_nascimento:
                                    type: string
                                    example: '1976-07-05'
                                sexo:
                                    type: string
                                    example: M
                                telefone:
                                    type: string
                                    example: '8138612194'
                                celular:
                                    type: string
                                    example: '81999556553'
                                apelido_sistema:
                                    type: string
                                    example: Serginho
                                cliente:
                                    type: array
                                    items:
                                        type: object
                                    example: []
                required: true
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Registro atualizado com sucesso!
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BadRequest'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
        get:
            operationId: getUsuario
            tags:
                - usuario
            description: Codigo de usuario para teste 72247
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_usuario
                  schema:
                      type: string
                  required: true
                  description: ID do usuário
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    codigo_usuario:
                                                        type: integer
                                                        example: 134155
                                                    nome:
                                                        type: string
                                                        example: SERGIO LEANDRO LIMA SALLES
                                                    email:
                                                        type: string
                                                        example: teste@teste.com.br
                                                    celular:
                                                        type: string
                                                        example: '81999556553'
                                                    telefone:
                                                        type: string
                                                        example: '8138612194'
                                                    cpf:
                                                        type: string
                                                        example: 07329099708
                                                    Cliente:
                                                        type: object
                                                        properties:
                                                            nome_fantasia:
                                                                type: string
                                                                example: >-
                                                                    SIEMENS LTDA - SAO PAULO - Anhanguera -
                                                                    44013159000116
                                                            razao_social:
                                                                type: string
                                                                example: SIEMENS LTDA
                                                    fornecedor:
                                                        type: object
                                                        properties:
                                                            codigo:
                                                                type: integer
                                                                example: '8350'
                                                            nome_fantasia:
                                                                type: string
                                                                example: 'AMBULATÓRIO MÉDICO ANHANGUERA  - SIEMENS'
                                                            razao_social:
                                                                type: string
                                                                example: 'AMBULATÓRIO MÉDICO ANHANGUERA  - SIEMENS'
                                                            cnpj:
                                                                type: integer
                                                                example: '44013159000116'
                                                    ContatoEmergencia:
                                                        type: object
                                                        properties:
                                                            nome:
                                                                type: string
                                                                example: Will
                                                            telefone:
                                                                type: string
                                                                example: (81) 3861-2194
                                                            celular:
                                                                type: string
                                                                example: (89) 98130-2356
                                                            grau_parentesco:
                                                                type: string
                                                                example: ''
                                                            email:
                                                                type: string
                                                                example: ''
                                                    permissoes:
                                                        type: object
                                                        properties:
                                                            Lyn:
                                                                type: object
                                                                properties:
                                                                    menu:
                                                                        type: object
                                                                        properties:
                                                                            codigo:
                                                                                type: integer
                                                                                example: 1
                                                                            descricao:
                                                                                type: string
                                                                                example: "Sua Saúde"
                                                                    skin:
                                                                        type: object
                                                                        properties:
                                                                            logo:
                                                                                type: string
                                                                                example: logo
                                                                            cor_primaria:
                                                                                type: string
                                                                                example: FFFFFF
                                                                            cor_secundaria:
                                                                                type: string
                                                                                example: FFFFFF
                                                                            width:
                                                                                type: string
                                                                                example: 190
                                                                            height:
                                                                                type: string
                                                                                example: 50
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BadRequest'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
    '/therma/usuario/{codigo_usuario}':
        put:
            operationId: putUsuarioTherma
            tags:
                - usuario
            description: >-
                Na chamada não pode alterar o login e senha. Caso envie dados no indice
                cliente irá atualizar para o novo cliente.
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_usuario
                  schema:
                      type: integer
                  required: true
                  description: ID do usuário ou CPF
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                nome:
                                    type: string
                                    example: SERGIO LEANDRO LIMA SALLES
                                email:
                                    type: string
                                    example: teste@teste.com.br
                                celular:
                                    type: string
                                    example: '81999556553'
                required: true
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Registro atualizado com sucesso!
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BadRequest'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
        get:
            operationId: getUsuarioTherma
            tags:
                - usuario
            description: Codigo de usuario para teste 72247
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_usuario
                  schema:
                      type: string
                  required: true
                  description: ID do usuário
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    codigo_usuario:
                                                        type: integer
                                                        example: 134155
                                                    nome:
                                                        type: string
                                                        example: SERGIO LEANDRO LIMA SALLES
                                                    email:
                                                        type: string
                                                        example: teste@teste.com.br
                                                    celular:
                                                        type: string
                                                        example: '81999556553'
                                                    cpf:
                                                        type: string
                                                        example: 07329099708
                                                    Cliente:
                                                        type: object
                                                        properties:
                                                            nome_fantasia:
                                                                type: string
                                                                example: >-
                                                                    SIEMENS LTDA - SAO PAULO - Anhanguera -
                                                                    44013159000116
                                                            razao_social:
                                                                type: string
                                                                example: SIEMENS LTDA
                                                    fornecedor:
                                                        type: object
                                                        properties:
                                                            codigo:
                                                                type: integer
                                                                example: '8350'
                                                            nome_fantasia:
                                                                type: string
                                                                example: 'AMBULATÓRIO MÉDICO ANHANGUERA  - SIEMENS'
                                                            razao_social:
                                                                type: string
                                                                example: 'AMBULATÓRIO MÉDICO ANHANGUERA  - SIEMENS'
                                                            cnpj:
                                                                type: integer
                                                                example: '44013159000116'
                                                    ContatoEmergencia:
                                                        type: object
                                                        properties:
                                                            nome:
                                                                type: string
                                                                example: Will
                                                            telefone:
                                                                type: string
                                                                example: (81) 3861-2194
                                                            celular:
                                                                type: string
                                                                example: (89) 98130-2356
                                                            grau_parentesco:
                                                                type: string
                                                                example: ''
                                                            email:
                                                                type: string
                                                                example: ''
                                                    permissoes:
                                                        type: object
                                                        properties:
                                                            Lyn:
                                                                type: object
                                                                properties:
                                                                    menu:
                                                                        type: object
                                                                        properties:
                                                                            codigo:
                                                                                type: integer
                                                                                example: 1
                                                                            descricao:
                                                                                type: string
                                                                                example: "Sua Saúde"
                                                                    skin:
                                                                        type: object
                                                                        properties:
                                                                            logo:
                                                                                type: string
                                                                                example: logo
                                                                            cor_primaria:
                                                                                type: string
                                                                                example: FFFFFF
                                                                            cor_secundaria:
                                                                                type: string
                                                                                example: FFFFFF
                                                                            width:
                                                                                type: string
                                                                                example: 190
                                                                            height:
                                                                                type: string
                                                                                example: 50
                                                                    onboarding:
                                                                        type: object
                                                                        properties:
                                                                            codigo:
                                                                                type: string
                                                                                example: "Controle de Temperatura"
                                                                            descricao:
                                                                                type: string
                                                                                example: "Sed congue odio sit amet sapien tempus tempus."
                                                                            imagem:
                                                                                type: string
                                                                                example: "https:\/\/api.rhhealth.com.br\/ithealth\/2020\/12\/02\/DE6BCE2E-FAD4-12DA-46F1-E6889FAD1A93.jpg"
                                                                            ativo:
                                                                                type: integer
                                                                                example: 1

                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BadRequest'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
    /usuario/credencial/recuperar:
        post:
            operationId: postRecuperarSenha
            tags:
                - usuario
            description: >-
                Para recuperar a senha do usuario cadastrado.
            security: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                apelido:
                                    type: string
                                    example: XXXXXXX
                                codigo_sistema:
                                    type: string
                                    example: 1->lyn,2->agendamento,3->thermal care,4->gestao_risco
                required: true
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: "Link de recuperação da senha enviada ao email ****@******."

                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            error:
                                                type: object
                                                properties:
                                                    message:
                                                        type: array
                                                        items:
                                                            type: object
                                                            properties:
                                                                cpf:
                                                                    type: string
                                                                    example: CPF já cadastrado
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
    /usuario/credencial:
        put:
            operationId: postAtualizarSenha
            tags:
                - usuario
            description: >-
                Para atualizar a senha do usuario cadastrado.
            security: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                codigo_usuario:
                                    type: integer
                                    example: XXXXXXX
                                senha_anterior:
                                    type: string
                                    example: XXXXX
                                senha_atual:
                                    type: string
                                    example: XXXXX
                                senha_atual_compara:
                                    type: string
                                    example: XXXXX
                required: true
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: "Senha atualizada com sucesso"
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
    '/usuario/cliente/{cpf}':
        get:
            operationId: getUsuarioCliente
            tags:
                - usuario
            description: Retorna o codigo do cliente e o nome do mesmo.
            security: []
            parameters:
                - in: path
                  name: cpf
                  schema:
                      type: string
                  required: true
                  description: CPF do usuário
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        codigo_cliente:
                                                            type: string
                                                            example: '71758'
                                                        nome_cliente:
                                                            type: string
                                                            example: >-
                                                                SIEMENS LTDA - SAO PAULO - Anhanguera -
                                                                44013159000116
                                                        flag_vinclulado:
                                                            type: integer
                                                            example: 1
                                                        codigo_usuario:
                                                            type: string
                                                            example: '72247'
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BadRequest'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
    '/validar/vinculo':
        post:
            operationId: postValidarVinculo
            tags:
                - usuario
            security: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                cpf:
                                    type: string
                                    example: 07329099708
                                codigo_cliente:
                                    type: string
                                    example: '71758'
                                codigo_confirmacao:
                                    type: string
                                    example: '123456'
                                codigo_usuario:
                                    type: string
                                    example: ''
                required: true
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Cliente vinculado com sucesso!
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            error:
                                                type: string
                                                example: Não existe cliente relacionado para este cpf!
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
    '/foto/{codigo_usuario}':
        get:
            operationId: getFotoUsuario
            tags:
                - usuario
            description: 'Testar por enquanto com o codigo de usuario: 72247'
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_usuario
                  schema:
                      type: string
                  required: true
                  description: ID do usuário
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: >-
                                                    https://api.rhhealth.com.br/nina/2019/10/05/DE568818-D29A-E6B2-7C07-32494A419529.jpeg
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BadRequest'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
        put:
            operationId: putFotoUsuario
            tags:
                - usuario
            description: 'limit de 2mb a imagem'
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_usuario
                  schema:
                      type: integer
                  required: true
                  description: ID do usuário
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                foto:
                                    type: string
                                    example: imagem_em_base64
                required: true
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Registro atualizado com sucesso!
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BadRequest'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
    '/usuario/medicamento/programacao/listar':
        get:
            operationId: getProgramacaoMedicamentos
            tags:
                - usuario
            description: 'Lista programação de medicamentos do usuário.'
            security:
                - bearerAuth: []

            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                      properties:
                                        data:
                                          properties:
                                            lista:
                                              type: "array"
                                              items:
                                                type: "undefined"
                                              example: []
                                            mensagem:
                                              type: "array"
                                              items:
                                                type: "undefined"
                                              example: []
                                          type: "object"
                                      type: "object"
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BadRequest'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
    '/usuario/medicamento/programacao/adicionar':
        post:
            operationId: addProgramacaoMedicamentos
            tags:
                - usuario
            description: 'Adiciona programação de medicamentos do usuário.'
            security:
                - bearerAuth: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                              codigo_medicamentos:
                                type: "number"
                                example: 1504
                              codigo_apresentacao:
                                type: "number"
                                example: 6
                              frequencia_dias:
                                type: "number"
                                example: 1
                              frequencia_dias_intercalados:
                                type: "number"
                                example: 0
                              frequencia_horarios:
                                type: "number"
                                example: 2
                              uso_continuo:
                                type: "number"
                                example: 1
                              frequencia_uso:
                                type: "number"
                                example: 24
                              dias_da_semana:
                                type: "array"
                                items:
                                  type: "string"
                                example:
                                  - "seg"
                                  - "ter"
                                  - "qua"
                                  - "qui"
                                  - "sex"
                                  - "sab"
                                  - "dom"
                              horario_inicio_uso:
                                type: "string"
                                example: "08:30"
                              quantidade:
                                type: "number"
                                example: 1
                              recomendacao_medica:
                                type: "string"
                                example: "tomar todos os dias"
                              quantos_em_quantos_dias:
                                type: "number"
                                example: 5
                              foto_receita:
                                type: "string"
                                example: "data:image/jpeg:base64"
                              ativo:
                                type: "number"
                                example: 1
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                      properties:
                                        programacao_medicamento:
                                          properties:
                                            codigo_medicamentos:
                                              type: "number"
                                              example: 1504
                                            codigo_apresentacao:
                                              type: "number"
                                              example: 6
                                            codigo_usuario:
                                              type: "number"
                                              example: 70858
                                            frequencia_dias:
                                              type: "number"
                                              example: 1
                                            frequencia_dias_intercalados:
                                              type: "number"
                                              example: 0
                                            frequencia_horarios:
                                              type: "number"
                                              example: 2
                                            uso_continuo:
                                              type: "number"
                                              example: 1
                                            frequencia_uso:
                                              type: "number"
                                              example: 24
                                            dias_da_semana:
                                              type: "string"
                                              example: "seg,ter,qua,qui,sex,sab,dom"
                                            horario_inicio_uso:
                                              type: "string"
                                              example: "08:30"
                                            quantidade:
                                              type: "number"
                                              example: 1
                                            recomendacao_medica:
                                              type: "string"
                                              example: "tomar todos os dias"
                                            codigo_usuario_inclusao:
                                              type: "number"
                                              example: 70858
                                            codigo_usuario_alteracao:
                                              type: "number"
                                              example: 70858
                                            data_inclusao:
                                              type: "string"
                                              example: "2020-07-29 10:22:45"
                                            ativo:
                                              type: "string"
                                              example: "1"
                                            foto_receita:
                                              type: "string"
                                              example: "https://api.rhhealth.com.br"
                                            codigo:
                                              type: "number"
                                              example: 40
                                          type: "object"
                                      type: "object"
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BadRequest'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
    '/usuario/medicamento/programacao/alterar/{codigo_usuarios_medicamentos}':
        put:
            operationId: updateProgramacaoMedicamentos
            tags:
                - usuario
            description: 'Altera programação de medicamentos do usuário.'
            security:
                - bearerAuth: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                              codigo_medicamentos:
                                type: "number"
                                example: 47258
                              codigo_apresentacao:
                                type: "number"
                                example: 5
                              frequencia_dias:
                                type: "number"
                                example: 1
                              frequencia_horarios:
                                type: "number"
                                example: 2
                              uso_continuo:
                                type: "number"
                                example: 1
                              dias_da_semana:
                                type: "array"
                                items:
                                  type: "string"
                                example:
                                  - "seg"
                                  - "ter"
                                  - "qua"
                                  - "qui"
                                  - "sex"
                                  - "sab"
                                  - "dom"
                              frequencia_uso:
                                type: "number"
                                example: 24
                              horario_inicio_uso:
                                type: "string"
                                example: "08:30"
                              quantidade:
                                type: "number"
                                example: 1
                              recomendacao_medica:
                                type: "string"
                                example: "tomar todos os dias"
                              frequencia_dias_intercalados:
                                type: "number"
                                example: 0
                              foto_receita:
                                type: "string"
                                example: "data:image/jpeg:base64"
                              ativo:
                                type: "number"
                                example: 0

            responses:
                  '200':
                      description: successful operation
                      content:
                          application/json:
                              schema:
                                  properties:
                                    status:
                                      type: "number"
                                      example: 200
                                    result:
                                      type: "object"
                                      properties:
                                        codigo:
                                          type: "number"
                                          example: 40
                                        codigo_medicamentos:
                                          type: "number"
                                          example: 47258
                                        codigo_usuario:
                                          type: "number"
                                          example: 70858
                                        frequencia_dias:
                                          type: "number"
                                          example: 1
                                        frequencia_horarios:
                                          type: "number"
                                          example: 2
                                        uso_continuo:
                                          type: "number"
                                          example: 1
                                        dias_da_semana:
                                          type: "string"
                                          example: "seg,ter,qua,qui,sex,sab,dom"
                                        frequencia_uso:
                                          type: "number"
                                          example: 24
                                        horario_inicio_uso:
                                          type: "string"
                                          example: "08:30"
                                        quantidade:
                                          type: "number"
                                          example: 1
                                        recomendacao_medica:
                                          type: "string"
                                          example: "tomar todos os dias"
                                        foto_receita:
                                          type: "string"
                                          example: "https://api.rhhealth.com.br"
                                        frequencia_dias_intercalados:
                                          type: "number"
                                          example: 0
                                        periodo_tratamento_inicio:
                                          type: "string"
                                          example: ""
                                        periodo_tratamento_termino:
                                          type: "string"
                                          example: ""
                                        codigo_usuario_inclusao:
                                          type: "number"
                                          example: 70858
                                        codigo_usuario_alteracao:
                                          type: "number"
                                          example: 70858
                                        data_alteracao:
                                          type: "string"
                                          example: "2020-07-29 00:00:00"
                                        data_inclusao:
                                          type: "string"
                                          example: "2020-07-29 10:22:45"
                                        codigo_apresentacao:
                                          type: "number"
                                          example: 5
                                        ativo:
                                          type: "string"
                                          example: "0"

                  '400':
                      description: Bad Request
                      content:
                          application/json:
                              schema:
                                  $ref: '#/components/schemas/BadRequest'
                  '401':
                      description: Unauthorized
                      content:
                          application/json:
                              schema:
                                  $ref: '#/components/schemas/Unauthorized'
                  '404':
                      description: Not found
                      content:
                          application/json:
                              schema:
                                  type: object
                                  properties:
                                      status:
                                          type: number
                                          example: 404
                                      result:
                                        properties:
                                          error:
                                            type: "array"
                                            items:
                                              type: "string"
                                            example:
                                              - "Programação de medicamento não econtrada"
                                        type: "object"
    '/usuario/medicamento/{codigo_usuarios_medicamentos}':
        delete:
            operationId: deleteProgramacaoMedicamentos
            tags:
                - usuario
            description: 'Deleta programação de medicamentos do usuário.'
            security:
                - bearerAuth: []

            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                      properties:
                                        data:
                                          type: "array"
                                          items:
                                            type: "string"
                                          example:
                                            - "Operação realizada com sucesso."
                                      type: "object"

                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BadRequest'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
    /disclamer/aceite:
        post:
            operationId: postDisclamer
            tags:
                - usuario
            description: >-
                Ao aceitar o disclamer com o texto enviado pela api, o sistema irá gravar que foi aceitado os termos colocado na msg do disclamer.
            security: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                codigo_disclamer:
                                    type: integer
                required: true
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    mensagem:
                                                        type: string
                                                        example: >-
                                                            Registro atualizado com sucesso!
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            error:
                                                type: object
                                                properties:
                                                    message:
                                                        type: array
                                                        items:
                                                            type: object
                                                            properties:
                                                                cpf:
                                                                    type: string
                                                                    example: Erro ao inserir aceite do disclamer
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'

    /usuario/credencial/recuperar-senha-token:
        post:
            operationId: postRecuperarSenhaToken
            tags:
                - usuario
            description: >-
                Enviar token de redefinição de senha para email do usuário.
            security: [ ]
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                apelido:
                                    type: string
                                    example: "85458397070"
                                codigo_sistema:
                                    type: integer
                                    example: 4
                                alerta_tipo:
                                    type: integer
                                    example: 1
                required: true
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    mensagem:
                                                        type: string
                                                        example: >-
                                                            Token de recuperação da senha enviado ao e-mail d**************o@weef.com.br
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
        put:
            operationId: putRecuperarSenhaToken
            tags:
                - usuario
            description: >-
                Valida token de redefinição de senha enviado ao usuário.
            security: [ ]
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                apelido:
                                    type: string
                                    example: "85458397070"
                                codigo_sistema:
                                    type: integer
                                    example: 4
                                alerta_tipo:
                                    type: integer
                                    example: 1
                                token:
                                    type: integer
                                    example: 231357
                required: true
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    apelido:
                                                        type: string
                                                        example: "85458397070"
                                                    codigo_sistema:
                                                        type: integer
                                                        example: 4
                                                    alerta_tipo:
                                                        type: integer
                                                        example: 1
                                                    token:
                                                        type: integer
                                                        example: 231357
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    mensagem:
                                                        type: string
                                                        example: >-
                                                            Apelido ou token inválido.

    /usuario/credencial/trocar-senha:
        put:
            operationId: putTrocarSenha
            tags:
                - usuario
            description: >-
                Trocar senha.
            security: [ ]
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                codigo_usuario:
                                    type: integer
                                    example: 73274
                                senha_atual_compara:
                                    type: integer
                                    example: 123456
                                senha_atual:
                                    type: integer
                                    example: 123456
                required: true
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                example: "Senha atualizada com sucesso"

                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    mensagem:
                                                        type: string
                                                        example: >-
                                                            Registro não encontrado.

    '/consultas/detalhe/{codigo_item_pedido_exame}':
        get:
            operationId: getDetalheConsulta
            tags:
                - consulta
            description: Para teste usar o codigo 279526 para retorno de um detalhe da consulta
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_item_pedido_exame
                  schema:
                      type: string
                  required: true
                  description: ID de exame
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    codigo_pedido_exame:
                                                        type: integer
                                                        example: 134155
                                                    codigo_exame:
                                                        type: integer
                                                        example: 52
                                                    exame:
                                                        type: string
                                                        example: '*ASO - EXAME CLÍNICO'
                                                    nome_fantasia_solicitante:
                                                        type: string
                                                        example: >-
                                                            SIEMENS LTDA - Rio de Janeiro - Ilha do Fundão -
                                                            44013159000469
                                                    razao_social_solicitante:
                                                        type: string
                                                        example: SIEMENS LTDA
                                                    tipo_exame:
                                                        type: string
                                                        example: Exame periódico
                                                    codigo_fornecedor:
                                                        type: integer
                                                        example: 8090
                                                    nome_credenciado:
                                                        type: string
                                                        example: ANTIGO PRESTADOR
                                                    telefone:
                                                        type: string
                                                        example: null
                                                    email:
                                                        type: string
                                                        example: null
                                                    endereco:
                                                        type: string
                                                        example: >-
                                                            AVENIDA JULES RIMET,102   - JARDIM LEONOR - SÃO
                                                            PAULO - SP
                                                    data_agendamento:
                                                        type: string
                                                        example: null
                                                    hora_agendamento:
                                                        type: string
                                                        example: null
                                                    data_agendamento_itens:
                                                        type: string
                                                        example: null
                                                    de_atendimento_credenciado:
                                                        type: string
                                                        example: null
                                                    ate_atendimento_credenciado:
                                                        type: string
                                                        example: null
                                                    dias_semana_credenciado:
                                                        type: string
                                                        example: null
                                                    data_realizacao_exames:
                                                        type: string
                                                        example: null
                                                    data_resultado:
                                                        type: string
                                                        example: '2015-08-03'
                                                        format: date
                                                    data_baixa:
                                                        type: string
                                                        example: '2019-05-16 19:53:10.000'
                                                        format: date-time
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BadRequest'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
    '/consultas/historico/{codigo_usuario}':
        get:
            operationId: getHistoricoConsulta
            tags:
                - consulta
            description: Para testar o endpoint usar o codigo de usuario 72247
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_usuario
                  schema:
                      type: string
                  required: true
                  description: ID do usuário
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: array
                                                items:
                                                    type: object
[...]
