openapi: 3.0.1
info:
    title: Swagger IT Health - POS
    description: Documentação da API que será utilizada nos aplicativos de Plano de ação, Safety walk & talk e Observador EHS.
    version: 1.0.0
servers:
    - url: "http://tstapi.rhhealth.com.br/api/"
paths:
    /auth:
        post:
            tags:
                - Usuário
            operationId: postAuth
            description: >-
                Autenticamos e retornamos o token para as outras operações e
                codigo_usuario.
            security: []
            parameters:
                - in: path
                  name: apelido
                  schema:
                      type: integer
                  required: true
                  description: Login do usuário
                - in: path
                  name: senha
                  schema:
                      type: integer
                  required: true
                  description: Senha do usuário
                - in: path
                  name: codigo_sistema
                  schema:
                      type: integer
                  required: false
                  description: Código do sistema (Modulo agenda = 2)
                - in: path
                  name: codigo_perfil
                  schema:
                      type: integer
                  required: false
                  description: Código do perfil do usuario para este sistema 43
            requestBody:
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            type: object
                            properties:
                                apelido:
                                    type: string
                                    example: login_do_usuario
                                senha:
                                    type: string
                                    example: senha_do_usuario
                                codigo_sistema:
                                    type: integer
                                    example: 2
                                codigo_perfil:
                                    type: integer
                                    example: 43
                            required:
                                - apelido
                                - senha
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    token:
                                                        type: string
                                                        example: >-
                                                            eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0ZV9iZXJuamFtaW4iLCJleHAiOjE1NzAwNDM0MTh9.M3TbWzDOEKD2Gs6ICrVWkabFY0Rza7n9W7CFlzdeOgc
                                                    codigo_usuario:
                                                        type: integer
                                                        example: 72273
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Unauthorized"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/NotFound"
    "/usuario/{codigo_usuario}":
        get:
            operationId: getUsuario
            tags:
                - Usuário
            description: Codigo de usuario para teste 72247
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_usuario
                  schema:
                      type: string
                  required: true
                  description: ID do usuário
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    codigo_usuario:
                                                        type: integer
                                                        example: 134155
                                                    nome:
                                                        type: string
                                                        example: SERGIO LEANDRO LIMA SALLES
                                                    email:
                                                        type: string
                                                        example: "teste@teste.com.br"
                                                    data_nascimento:
                                                        type: string
                                                        example: "1999-09-20"
                                                    celular:
                                                        type: string
                                                        example: "81999556553"
                                                    telefone:
                                                        type: string
                                                        example: "8138612194"
                                                    cpf:
                                                        type: string
                                                        example: 07329099708
                                                    sexo:
                                                        type: string
                                                        example: "M"
                                                    notificacao:
                                                        type: string
                                                        example: "1"
                                                    usuario_funcao:
                                                        type: object
                                                        properties:
                                                            codigo:
                                                                type: integer
                                                                example: 4
                                                            codigo_usuario:
                                                                type: integer
                                                                example: 73250
                                                            codigo_funcao_tipo:
                                                                type: integer
                                                                example: 2
                                                    funcao_tipo:
                                                        type: object
                                                        properties:
                                                            descricao:
                                                                type: string
                                                                example: "Operador"
                                                    cliente:
                                                        type: object
                                                        properties:
                                                            codigo:
                                                                type: integer
                                                                example: 10011
                                                            nome_fantasia:
                                                                type: string
                                                                example: EMPRESA TREINAMENTO
                                                            razao_social:
                                                                type: string
                                                                example: EMPRESA TREINAMENTO
                                                    contato_emergencia:
                                                        type: object
                                                        properties:
                                                            nome:
                                                                type: string
                                                                example: Will
                                                            telefone:
                                                                type: string
                                                                example: (81) 3861-2194
                                                            celular:
                                                                type: string
                                                                example: (89) 98130-2356
                                                            grau_parentesco:
                                                                type: string
                                                                example: ""
                                                            email:
                                                                type: string
                                                                example: ""
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BadRequest"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Unauthorized"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found

    "/usuario/{codigo_usuario}/clientes":
        get:
            operationId: getUsuarioClientesCodigoUsuario
            tags:
                - Usuário
            summary: Consultar clientes relacionados ao código do usuário.
            description: Consultar clientes relacionados ao código do usuário.
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_usuario
                  schema:
                      type: string
                  required: true
                  description: Código do usuário
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: array
                                                items:
                                                    properties:
                                                        codigo:
                                                            type: integer
                                                            example: 7639
                                                        codigo_cliente:
                                                            type: integer
                                                            example: 10011
                                                        descricao:
                                                            type: string
                                                            example: "Empresa"
                                                        unidades:
                                                            types: array
                                                            items:
                                                                type: object
                                                                properties:
                                                                    codigo:
                                                                        type: integer
                                                                        example: 9913
                                                                    codigo_cliente:
                                                                        type: integer
                                                                        example: 10011
                                                                    razao_social:
                                                                        type: string
                                                                        example: "Empresa"
                                                                    nome_fantasia:
                                                                        type: string
                                                                        example: "Empresa"
                                                                    cep:
                                                                        type: string
                                                                        example: "00000000"
                                                                    logradouro:
                                                                        type: string
                                                                        example: "Rua X"
                                                                    numero:
                                                                        type: string
                                                                        example: "000"
                                                                    bairro:
                                                                        type: string
                                                                        example: "Bairro"
                                                                    cidade:
                                                                        type: string
                                                                        example: "Cidade"
                                                                    estado_descricao:
                                                                        type: string
                                                                        example: "XX"
                                                                    complemento:
                                                                        type: string
                                                                        example: "Complemento"
                                                                    centro_resultado:
                                                                        type: array
                                                                        items:
                                                                            type: object
                                                                            properties:
                                                                                codigo:
                                                                                    type: integer
                                                                                    example: 1
                                                                                descricao:
                                                                                    type: string
                                                                                    example: "Business Unit 1"
                                                                                opcos:
                                                                                    type: array
                                                                                    items:
                                                                                        type: object
                                                                                        properties:
                                                                                            codigo:
                                                                                                type: integer
                                                                                                example: 1
                                                                                            descricao:
                                                                                                type: string
                                                                                                example: "OPCO 1"
                                                                                            depth_structures:
                                                                                                type: array
                                                                                                items:
                                                                                                    type: object
                                                                                                    properties:
                                                                                                        codigo:
                                                                                                            type: integer
                                                                                                            example: 1
                                                                                                        descricao:
                                                                                                            type: string
                                                                                                            example: "Depth Structure 1"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BadRequest"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Unauthorized"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
    "/usuario/clientes":
        get:
            operationId: getUsuarioClientes
            tags:
                - Usuário
            summary: Consultar clientes relacionados ao usuário logado.
            description: Consultar clientes relacionados ao usuário logado.
            security:
                - bearerAuth: []
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: array
                                                items:
                                                    properties:
                                                        codigo:
                                                            type: integer
                                                            example: 7639
                                                        codigo_cliente:
                                                            type: integer
                                                            example: 10011
                                                        descricao:
                                                            type: string
                                                            example: "Empresa"
                                                        unidades:
                                                            types: array
                                                            items:
                                                                type: object
                                                                properties:
                                                                    codigo:
                                                                        type: integer
                                                                        example: 9913
                                                                    codigo_cliente:
                                                                        type: integer
                                                                        example: 10011
                                                                    razao_social:
                                                                        type: string
                                                                        example: "Empresa"
                                                                    nome_fantasia:
                                                                        type: string
                                                                        example: "Empresa"
                                                                    cep:
                                                                        type: string
                                                                        example: "00000000"
                                                                    logradouro:
                                                                        type: string
                                                                        example: "Rua X"
                                                                    numero:
                                                                        type: string
                                                                        example: "000"
                                                                    bairro:
                                                                        type: string
                                                                        example: "Bairro"
                                                                    cidade:
                                                                        type: string
                                                                        example: "Cidade"
                                                                    estado_descricao:
                                                                        type: string
                                                                        example: "XX"
                                                                    complemento:
                                                                        type: string
                                                                        example: "Complemento"
                                                                    centro_resultado:
                                                                        type: array
                                                                        items:
                                                                            type: object
                                                                            properties:
                                                                                codigo:
                                                                                    type: integer
                                                                                    example: 1
                                                                                descricao:
                                                                                    type: string
                                                                                    example: "Business Unit 1"
                                                                                opcos:
                                                                                    type: array
                                                                                    items:
                                                                                        type: object
                                                                                        properties:
                                                                                            codigo:
                                                                                                type: integer
                                                                                                example: 1
                                                                                            descricao:
                                                                                                type: string
                                                                                                example: "OPCO 1"
                                                                                            depth_structures:
                                                                                                type: array
                                                                                                items:
                                                                                                    type: object
                                                                                                    properties:
                                                                                                        codigo:
                                                                                                            type: integer
                                                                                                            example: 1
                                                                                                        descricao:
                                                                                                            type: string
                                                                                                            example: "Depth Structure 1"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BadRequest"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Unauthorized"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
    "/usuario/{codigo_usuario}/clientes/{codigo_cliente}":
        get:
            operationId: getUsuarioClientesCodigoUsuarioCodigoCliente
            tags:
                - Usuário
            summary: Consultar clientes relacionados ao código do usuário e código do cliente.
            description: Consultar clientes relacionados ao código do usuário e código do cliente.
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_usuario
                  schema:
                      type: string
                  required: true
                  description: Código do usuário
                - in: path
                  name: codigo_cliente
                  schema:
                      type: string
                  required: true
                  description: Código do cliente
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: array
                                                items:
                                                    properties:
                                                        codigo:
                                                            type: integer
                                                            example: 7639
                                                        codigo_cliente:
                                                            type: integer
                                                            example: 10011
                                                        descricao:
                                                            type: string
                                                            example: "Empresa"
                                                        unidades:
                                                            types: array
                                                            items:
                                                                type: object
                                                                properties:
                                                                    codigo:
                                                                        type: integer
                                                                        example: 9913
                                                                    codigo_cliente:
                                                                        type: integer
                                                                        example: 10011
                                                                    razao_social:
                                                                        type: string
                                                                        example: "Empresa"
                                                                    nome_fantasia:
                                                                        type: string
                                                                        example: "Empresa"
                                                                    cep:
                                                                        type: string
                                                                        example: "00000000"
                                                                    logradouro:
                                                                        type: string
                                                                        example: "Rua X"
                                                                    numero:
                                                                        type: string
                                                                        example: "000"
                                                                    bairro:
                                                                        type: string
                                                                        example: "Bairro"
                                                                    cidade:
                                                                        type: string
                                                                        example: "Cidade"
                                                                    estado_descricao:
                                                                        type: string
                                                                        example: "XX"
                                                                    complemento:
                                                                        type: string
                                                                        example: "Complemento"
                                                                    centro_resultado:
                                                                        type: array
                                                                        items:
                                                                            type: object
                                                                            properties:
                                                                                codigo:
                                                                                    type: integer
                                                                                    example: 1
                                                                                descricao:
                                                                                    type: string
                                                                                    example: "Business Unit 1"
                                                                                opcos:
                                                                                    type: array
                                                                                    items:
                                                                                        type: object
                                                                                        properties:
                                                                                            codigo:
                                                                                                type: integer
                                                                                                example: 1
                                                                                            descricao:
                                                                                                type: string
                                                                                                example: "OPCO 1"
                                                                                            depth_structures:
                                                                                                type: array
                                                                                                items:
                                                                                                    type: object
                                                                                                    properties:
                                                                                                        codigo:
                                                                                                            type: integer
                                                                                                            example: 1
                                                                                                        descricao:
                                                                                                            type: string
                                                                                                            example: "Depth Structure 1"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BadRequest"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Unauthorized"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
    "/usuario/clientes/funcionarios":
        get:
            operationId: getClientesFuncionarios
            tags:
                - Usuário
            summary: Consultar funcionários relacionados ao usuário logado.
            description: Consultar funcionários relacionados ao usuário logado.
            security:
                - bearerAuth: []
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: array
                                                items:
                                                    properties:
                                                        codigo:
                                                            type: integer
                                                            example: 72000
                                                        nome:
                                                            type: string
                                                            example: "Nome"
                                                        avatar:
                                                            type: string
                                                            example: "https://url.com.br"
                                                        interno:
                                                            type: boolean
                                                            example: true
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BadRequest"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Unauthorized"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found

    "/pos/configuracoes":
        get:
            operationId: getConfiguracoes
            tags:
                - Configurações
            description: |
             # Consultar configurações do contexto POS.

                ---

             📢 ))   É obrigatório informar alguns parâmetros. <br><br>

             Parâmetros:

                *   **codigo_ferramenta**=*3* <br> ⇨              " Código da ferramenta, se observador, swt, etc. " <br> <br>
                *   **codigo_cliente**=*10011* <br> ⇨              " Código do cliente, ligado a empresa CNPJ. " <br> <br>
                *   **chave**=*TEMPOVISUALIZACAORETROATIVA* <br> ⇨ " Chave atribuida no painel para identificar o parâmetro. "

            security:
                - bearerAuth: []
            parameters:
                - in: query
                  name: codigo_ferramenta
                  schema:
                      type: string
                  required: true
                  description: Código da ferramenta

                - in: query
                  name: codigo_cliente
                  schema:
                      type: string
                  required: true
                  description: Código do cliente

                - in: query
                  name: chave
                  schema:
                      type: string
                  required: true
                  description: Chave do campo a ser
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        codigo:
                                                            type: integer
                                                            example: 1
                                                        codigo_ferramenta:
                                                            type: integer
                                                            example: 3
                                                        codigo_cliente:
                                                            type: integer
                                                            example: 10011
                                                        chave:
                                                            type: string
                                                            example: TEMPOVISUALIZACAORETROATIVA
                                                        descricao:
                                                            type: string
                                                            example: Tempo que poderá ser visualizado retroativamente os dados
                                                        valor:
                                                            type: string
                                                            example: 30
                                                        observacao:
                                                            type: string
                                                            example: Teste
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BadRequest"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Unauthorized"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
    "/config/getConfiguracao":
        get:
            operationId: getConfiguracaoChave
            tags:
                - Configurações
            description: |
             # Consultar configurações das chaves do sistema.

                ---

             📢 ))   É obrigatório informar alguns parâmetros. <br><br>

             Parâmetros:

                *   **PLANO_DE_ACAO**<br> ⇨              " Código do plano de ação. " <br> <br>
                *   **OBSERVADOR_EHS**<br> ⇨              " Código do observacor ehs. " <br> <br>
                *   **SAFETY_WALK_TALK**<br> ⇨              " Código do walk & talkobservacor ehs. " <br> <br>

            security:
                - bearerAuth: []
            parameters:
                - in: query
                  name: chave
                  schema:
                      type: string
                  required: true
                  description: Chave
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    valor:
                                                        type: string
                                                        example: 251
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BadRequest"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Unauthorized"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
    "/pos/obs/locais":
        get:
            operationId: getLocais
            tags:
                - Local da Observação
            description: |
             # Locais da observação no contexto POS.

                ---

             📢 ))   É obrigatório informar alguns parâmetros. <br><br>

             Parâmetros:

                *   **codigo_cliente**=*10011* <br> ⇨              " Código do cliente, ligado a empresa CNPJ. " <br> <br>

            security:
                - bearerAuth: []
            parameters:
                - in: query
                  name: codigo_cliente
                  schema:
                      type: string
                  required: true
                  description: Código do cliente

            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        codigo:
                                                            type: integer
                                                            example: 1
                                                        codigo_empresa:
                                                            type: integer
                                                            example: 1
                                                        codigo_cliente:
                                                            type: integer
                                                            example: 10011
                                                        descricao:
                                                            type: string
                                                            example: "Usina"

                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BadRequest"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Unauthorized"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found

    "/token/push/{codigo_usuario}":
        put:
            operationId: updateTokenPush
            tags:
                - Notificação Push
            summary: Editar push token do usuário.
            description: Editar push token do usuário. O campo platform pode variar entre android e ios.
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_usuario
                  schema:
                      type: string
                  required: true
                  description: Código do usuário
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                token_push:
                                    type: string
                                    example: "xxxxxxxx"
                                codigo_sistema:
                                    type: integer
                                    example: 8
                                platform:
                                    type: integer
                                    example: "android"
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: "Registro atualizado com sucesso!"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BadRequest"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Unauthorized"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
    "/token/push/{codigo_sistema}":
        delete:
            operationId: deleteTokenPush
            tags:
                - Notificação Push
            summary: Remover push token do usuário.
            description: Remover push token do usuário. Para aplicação POS o valor definido é 8.
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_sistema
                  schema:
                      type: string
                  required: true
                  description: Código do sistema utilizado
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: integer
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    message:
                                                        type: string
                                                        example: Token do usuário removido com sucesso.
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Unauthorized"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found

    "/pos":
        get:
            operationId: getPos
            tags:
                - POS
            summary: Consultar pendencias nas aplicações.
            description: Consultar pendencias nas aplicações.
            security:
                - bearerAuth: []
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    observador:
                                                        type: integer
                                                        example: 5
                                                    safety_walk_talk:
                                                        type: integer
                                                        example: 10
                                                    plano_acao:
                                                        type: integer
                                                        example: 60
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BadRequest"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Unauthorized"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found

    "/acao-melhoria":
        get:
            operationId: getAcoesMelhoria
            tags:
                - Ações de melhoria
            summary: Consultar todas as ações de melhoria.
            description: |
             Consultar todas as ações de melhoria.

             Parâmetros:

                *   **codigo_acoes_melhorias_status**=*3* <br> ⇨ " Código do status da ação. " <br><br>
                *   **codigo_origem_ferramenta**=*1* <br> ⇨ " Código da origem de ferramenta. " <br><br>
                *   **codigo_usuario_responsavel**=*72000* <br> ⇨ " Código do usuário responsável pela ação. "
                *   **ordenar_por**=*3* <br> ⇨ " Escolhe o tipo da ordenação, sendo elas: Criticidade (1), Origem de ferramenta (2), Tipo da ação (3). " <br><br>
                *   **autor**=*3* <br> ⇨ " Escolhe filtrar entre gestor (1), identificador (2), responsável da ação e/ou responsável da matriz (3). " <br><br>
                *   **inicio_periodo**=*2021-04-24* <br> ⇨ " Data de inicio. " <br><br>
                *   **fim_periodo**=*2021-04-30* <br> ⇨ " Data de termino. " <br><br>
                *   **data_tipo**=*1* <br> ⇨ " Escolhe filtrar pela data de inclusão (1) ou pelo prazo (2). "
            security:
                - bearerAuth: []
            parameters:
                - in: query
                  name: codigo_acoes_melhorias_status
                  schema:
                      type: string
                  description: Código do status da ação
                - in: query
                  name: codigo_origem_ferramenta
                  schema:
                      type: string
                  description: Código da origem de ferramenta
                - in: query
                  name: codigo_usuario_responsavel
                  schema:
                      type: integer
                  description: Código do usuário responsável
                - in: query
                  name: ordenar_por
                  schema:
                      type: integer
                  description: Tipo da ordenação da lista
                - in: query
                  name: autor
                  schema:
                      type: integer
                  description: Tipo do autor da ação
                - in: query
                  name: inicio_periodo
                  schema:
                      type: string
                  description: Data de inicio do período
                - in: query
                  name: fim_periodo
                  schema:
                      type: integer
                  description: Data de termino do período
                - in: query
                  name: data_tipo
                  schema:
                      type: integer
                  description: Tipo da data para filtragem
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    acoes_melhorias:
                                                        type: array
                                                        items:
                                                            type: object
                                                            properties:
                                                                codigo:
                                                                    type: integer
                                                                    example: 300
                                                                abrangente:
                                                                    type: boolean
                                                                    example: true
                                                                codigo_origem_ferramenta:
                                                                    type: integer
                                                                    example: 30
                                                                codigo_cliente_observacao:
                                                                    type: integer
                                                                    example: 10011
                                                                codigo_usuario_identificador:
                                                                    type: integer
                                                                    example: 72000
                                                                codigo_usuario_responsavel:
                                                                    type: integer
                                                                    example: 72000
                                                                codigo_pos_criticidade:
                                                                    type: integer
                                                                    example: 20
                                                                formulario_resposta:
                                                                    type: string
                                                                    example: "{}"
                                                                codigo_acoes_melhorias_tipo:
                                                                    type: integer
                                                                    example: 2
                                                                codigo_acoes_melhorias_status:
                                                                    type: integer
                                                                    example: 3
                                                                prazo:
                                                                    type: string
                                                                    example: "2021-05-31T00:00:00+00:00"
                                                                descricao_desvio:
                                                                    type: string
                                                                    example: "Descrição do desvio"
                                                                descricao_acao:
                                                                    type: string
                                                                    example: "Descrição da ação"
                                                                descricao_local_acao:
                                                                    type: string
                                                                    example: "Descrição do local da ação"
                                                                data_conclusao:
                                                                    type: string
                                                                    example: "2021-05-30T00:00:00+00:00"
                                                                conclusao_observacao:
                                                                    type: string
                                                                    example: "O que foi observado"
                                                                analise_implementacao_valida:
                                                                    type: boolean
                                                                    example: true
                                                                descricao_analise_implementacao:
                                                                    type: string
                                                                    example: "Descrição análise de implementação"
                                                                codigo_usuario_responsavel_analise_implementacao:
                                                                    type: integer
                                                                    example: 72001
                                                                data_analise_implementacao:
                                                                    type: integer
                                                                    example: "2021-06-01T00:00:00+00:00"
                                                                analise_eficacia_valida:
                                                                    type: boolean
                                                                    example: true
                                                                descricao_analise_eficacia:
                                                                    type: string
                                                                    example: "Descrição análise de eficacia"
                                                                codigo_usuario_responsavel_analise_eficacia:
                                                                    type: integer
                                                                    example: 72001
                                                                data_analise_eficacia:
                                                                    type: integer
                                                                    example: "2021-06-01T00:00:00+00:00"
                                                                codigo_usuario_inclusao:
                                                                    type: integer
                                                                    example: 72000
                                                                data_inclusao:
                                                                    type: string
                                                                    example: "2021-05-25T00:00:00+00:00"
                                                                necessario_abrangencia:
                                                                    type: boolean
                                                                    example: true
                                                                necessario_eficacia:
                                                                    type: boolean
                                                                    example: true
                                                                necessario_implementacao:
                                                                    type: boolean
                                                                    example: true
                                                                endereco_completo_localidade:
                                                                    type: string
                                                                    example: "Rua X, 000 - Bairro - Cidade / Estado"
                                                                identificador:
                                                                    type: object
                                                                    properties:
                                                                        codigo:
                                                                            type: integer
                                                                            example: 72000
                                                                        nome:
                                                                            type: string
                                                                            example: "Nome identificador"
                                                                        dados:
                                                                            type: object
                                                                            properties:
                                                                                codigo:
                                                                                    type: integer
                                                                                    example: 1
                                                                                avatar:
                                                                                    type: string
                                                                                    example: "https://url.com.br"
                                                                responsavel:
                                                                    type: object
                                                                    properties:
                                                                        codigo:
                                                                            type: integer
                                                                            example: 72000
                                                                        nome:
                                                                            type: string
                                                                            example: "Nome responsável"
                                                                origem_ferramenta:
                                                                    type: object
                                                                    properties:
                                                                        codigo:
                                                                            type: integer
                                                                            example: 1
                                                                        codigo_cliente:
                                                                            type: integer
                                                                            example: 1
                                                                        descricao:
                                                                            type: string
                                                                            example: "Gestão de mudanças"
                                                                status:
                                                                    type: object
                                                                    properties:
                                                                        codigo:
                                                                            type: integer
                                                                            example: 3
                                                                        descricao:
                                                                            type: string
                                                                            example: "Em andamento"
                                                                        cor:
                                                                            type: string
                                                                            example: "#5CB3FF"
                                                                tipo:
                                                                    type: object
                                                                    properties:
                                                                        codigo:
                                                                            type: integer
                                                                            example: 1
                                                                        descricao:
                                                                            type: string
                                                                            example: "Contenção"
                                                                criticidade:
                                                                    type: object
                                                                    properties:
                                                                        codigo:
                                                                            type: integer
                                                                            example: 30
                                                                        descricao:
                                                                            type: string
                                                                            example: "Maior"
                                                                        cor:
                                                                            type: string
                                                                            example: "FFADB5"
                                                                localidade:
                                                                    type: object
                                                                    properties:
                                                                        codigo:
                                                                            type: integer
                                                                            example: 10011
                                                                        razao_social:
                                                                            type: string
                                                                            example: "Empresa"
                                                                        nome_fantasia:
                                                                            type: string
                                                                            example: "Empresa"
                                                                        endereco:
                                                                            type: object
                                                                            properties:
                                                                                codigo:
                                                                                    type: integer
                                                                                    example: 9803
                                                                                cep:
                                                                                    type: string
                                                                                    example: "00000000"
                                                                                logradouro:
                                                                                    type: string
                                                                                    example: "Rua X"
                                                                                numero:
                                                                                    type: integer
                                                                                    example: 100
                                                                                bairro:
                                                                                    type: string
                                                                                    example: "Bairro"
                                                                                cidade:
                                                                                    type: string
                                                                                    example: "Cidade"
                                                                                estado_descricao:
                                                                                    type: string
                                                                                    example: "SP"
                                                                                complemento:
                                                                                    type: string
                                                                                    example: "Complemento"
                                                                matriz_responsabilidade:
                                                                    type: array
                                                                    items:
                                                                        type: object
                                                                        properties:
                                                                            codigo:
                                                                                type: integer
                                                                                example: 22
                                                                            codigo_cliente:
                                                                                type: integer
                                                                                example: 10011
                                                                            codigo_usuario:
                                                                                type: integer
                                                                                example: 72000
                                                                solicitacoes:
                                                                    type: array
                                                                    items:
                                                                        type: object
                                                                        properties:
                                                                            codigo:
                                                                                type: integer
                                                                                example: 229
                                                                            codigo_acao_melhoria:
                                                                                type: integer
                                                                                example: 343
                                                                            codigo_acao_melhoria_solicitacao_tipo:
                                                                                type: integer
                                                                                example: 1
                                                                            codigo_novo_usuario_responsavel:
                                                                                type: integer
                                                                                example: 72000
                                                                            codigo_usuario_solicitado:
                                                                                type: integer
                                                                                example: 72000
                                                                            status:
                                                                                type: integer
                                                                                example: 3
                                                                            novo_prazo:
                                                                                type: string
                                                                                example: null
                                                                            justificativa_solicitacao:
                                                                                type: string
                                                                                example: "Solicitado por ..."
                                                                            justificativa_recusa:
                                                                                type: string
                                                                                example: "Recusado por questão de ..."
                                                                            codigo_usuario_inclusao:
                                                                                type: integer
                                                                                example: 72000
                                                                            codigo_usuario_alteracao:
                                                                                type: integer
                                                                                example: 72000
                                                                            data_inclusao:
                                                                                type: string
                                                                                example: "2021-05-10T15:20:58-03:00"
                                                                            data_alteracao:
                                                                                type: string
                                                                                example: "2021-05-10T15:20:58-03:00"
                                                                            data_remocao:
                                                                                type: string
                                                                                example: null
                                                                            nome_usuario_inclusao:
                                                                                type: string
                                                                                example: "Novo usuário inclusão"
                                                                            nome_novo_usuario_responsavel:
                                                                                type: string
                                                                                example: "Novo usuário responsável"
                                                                            nome_usuario_solicitado:
                                                                                type: string
                                                                                example: "Nome usuário solicitado"
                                                    pendencias:
                                                        type: array
                                                        items:
                                                            type: object
                                                            properties:
                                                                tipo:
                                                                    type: integer
                                                                    example: 1
                                                                quantidade:
                                                                    type: integer
                                                                    example: 0
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BadRequest"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Unauthorized"
                "404":
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
        post:
            operationId: postAcoesMelhoria
            tags:
                - Ações de melhoria
            summary: Criar ações de melhoria.
            description: Criar ações de melhoria.
            security:
                - bearerAuth: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: array
                            items:
                                type: object
                                properties:
                                    codigo_acoes_melhorias_status:
                                        type: integer
                                        example: 5
                                    codigo_pos_criticidade:
                                        type: integer
                                        example: 30
                                    codigo_cliente_observacao:
                                        type: integer
                                        example: 10011
                                    codigo_origem_ferramenta:
                                        type: integer
                                        example: 5
                                    codigo_acoes_melhorias_tipo:
                                        type: integer
                                        example: 5
                                    codigo_usuario_identificador:
                                        type: integer
                                        example: 72000
                                    codigo_usuario_responsavel:
                                        type: integer
                                        example: 72000
                                    descricao_acao:
                                        type: string
                                        example: "Descrição da ação"
                                    descricao_desvio:
                                        type: string
                                        example: "Descrição do desvio"
                                    descricao_local_acao:
                                        type: string
                                        example: "Descrição do local da ação"
                                    formulario_resposta:
                                        type: string
                                        example: "{}"
                                    prazo:
                                        type: string
                                        example: "2021-05-25"
                                    codigo_cliente_bu:
                                        type: integer
                                        example: null
                                    codigo_cliente_opco:
                                        type: integer
                                        example: null
                required: true
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        codigo:
[...]
