openapi: 3.0.1
info:
    title: Swagger IT Health - Segurança
    description: Documentação da API que será utilizada no aplicativo de gestão de riscos e ppra.
    version: 1.0.0
servers:
    - url: 'http://tstapi.rhhealth.com.br/api/'
paths:
    /auth:
        post:
            tags:
                - usuario
            operationId: postAuth
            description: >-
                Autenticamos e retornamos o token para as outras operações e
                codigo_usuario.
            security: []
            parameters:
                -   in: path
                    name: apelido
                    schema:
                        type: integer
                    required: true
                    description: Login do usuário
                -   in: path
                    name: senha
                    schema:
                        type: integer
                    required: true
                    description: Senha do usuário
                -   in: path
                    name: codigo_sistema
                    schema:
                        type: integer
                    required: false
                    description: Código do sistema (Modulo agenda = 2)
                -   in: path
                    name: codigo_perfil
                    schema:
                      type: integer
                    required: false
                    description: Código do perfil do usuario para este sistema 43
            requestBody:
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            type: object
                            properties:
                                apelido:
                                    type: string
                                    example: login_do_usuario
                                senha:
                                    type: string
                                    example: senha_do_usuario
                                codigo_sistema:
                                    type: integer
                                    example: 2
                                codigo_perfil:
                                    type: integer
                                    example: 43
                            required:
                                - apelido
                                - senha
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    token:
                                                        type: string
                                                        example: >-
                                                            eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0ZV9iZXJuamFtaW4iLCJleHAiOjE1NzAwNDM0MTh9.M3TbWzDOEKD2Gs6ICrVWkabFY0Rza7n9W7CFlzdeOgc
                                                    codigo_usuario:
                                                        type: integer
                                                        example: 72273
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
    '/usuario/{codigo_usuario}':
        get:
            operationId: getUsuario
            tags:
                - usuario
            description: Codigo de usuario para teste 72247
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_usuario
                  schema:
                      type: string
                  required: true
                  description: ID do usuário
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    codigo_usuario:
                                                        type: integer
                                                        example: 134155
                                                    nome:
                                                        type: string
                                                        example: SERGIO LEANDRO LIMA SALLES
                                                    email:
                                                        type: string
                                                        example: 'teste@teste.com.br'
                                                    data_nascimento:
                                                        type: string
                                                        example: '1999-09-20'
                                                    celular:
                                                        type: string
                                                        example: '81999556553'
                                                    telefone:
                                                        type: string
                                                        example: '8138612194'
                                                    cpf:
                                                        type: string
                                                        example: 07329099708
                                                    sexo:
                                                        type: string
                                                        example: 'M'
                                                    notificacao:
                                                        type: string
                                                        example: '1'
                                                    usuario_funcao:
                                                        type: object
                                                        properties:
                                                            codigo:
                                                                type: integer
                                                                example: 4
                                                            codigo_usuario:
                                                                type: integer
                                                                example: 73250
                                                            codigo_funcao_tipo:
                                                                type: integer
                                                                example: 2
                                                    funcao_tipo:
                                                        type: object
                                                        properties:
                                                            descricao:
                                                                type: string
                                                                example: 'Operador'
                                                    cliente:
                                                        type: object
                                                        properties:
                                                            codigo:
                                                                type: integer
                                                                example: 10011
                                                            nome_fantasia:
                                                                type: string
                                                                example: EMPRESA TREINAMENTO
                                                            razao_social:
                                                                type: string
                                                                example: EMPRESA TREINAMENTO
                                                    contato_emergencia:
                                                        type: object
                                                        properties:
                                                            nome:
                                                                type: string
                                                                example: Will
                                                            telefone:
                                                                type: string
                                                                example: (81) 3861-2194
                                                            celular:
                                                                type: string
                                                                example: (89) 98130-2356
                                                            grau_parentesco:
                                                                type: string
                                                                example: ''
                                                            email:
                                                                type: string
                                                                example: ''
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BadRequest'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found

    '/usuarios/cliente/{codigo_cliente}':
        get:
            operationId: getUsuarios
            tags:
                - usuario
            description: Lista todos os usuarios do cliente
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: codigo_cliente
                  schema:
                      type: string
                  required: true
                  description: ID do cliente
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200

                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        codigo_usuario:
                                                            type: integer
                                                            example: 134155
                                                        nome:
                                                            type: string
                                                            example: SERGIO LEANDRO LIMA SALLES
                                                        email:
                                                            type: string
                                                            example: teste@teste.com.br
                                                        data_nascimento:
                                                            type: string
                                                            example: '1999-09-20'
                                                        celular:
                                                            type: string
                                                            example: '81999556553'
                                                        telefone:
                                                            type: string
                                                            example: '8138612194'
                                                        cpf:
                                                            type: string
                                                            example: '07329099708'
                                                        sexo:
                                                            type: string
                                                            example: 'M'
                                                        notificacao:
                                                            type: string
                                                            example: '1'
                                                        usuario_funcao:
                                                            type: object
                                                            properties:
                                                                codigo:
                                                                    type: integer
                                                                    example: 6
                                                                codigo_usuario:
                                                                    type: integer
                                                                    example: 72252
                                                                codigo_funcao_tipo:
                                                                    type: integer
                                                                    example: 4
                                                        funcao_tipo:
                                                            type: object
                                                            properties:
                                                                descricao:
                                                                    type: string
                                                                    example: Gestor de Operação
                                                        cliente:
                                                            type: object
                                                            properties:
                                                                codigo:
                                                                    type: integer
                                                                    example: 10011
                                                                nome_fantasia:
                                                                    type: string
                                                                    example: >-
                                                                        SIEMENS LTDA - SAO PAULO - Anhanguera -
                                                                        44013159000116
                                                                razao_social:
                                                                    type: string
                                                                    example: SIEMENS LTDA
                                                        contato_emergencia:
                                                            type: object
                                                            properties:
                                                                nome:
                                                                    type: string
                                                                    example: Will
                                                                telefone:
                                                                    type: string
                                                                    example: (81) 3861-2194
                                                                celular:
                                                                    type: string
                                                                    example: (89) 98130-2356
                                                                grau_parentesco:
                                                                    type: string
                                                                    example: ''
                                                                email:
                                                                    type: string
                                                                    example: ''
                '400':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BadRequest'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found


    /chamado:
        post:
            operationId: postChamado
            tags:
                - Chamado
            description: >-
                Cadastra novo chamado
            security: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                codigo_cliente:
                                    type: integer
                                    example: 10011
                                descricao:
                                    type: string
                                    example: "Fazendo um novo chamado exemplo"
                                data_original:
                                    type: string
                                    example: "2020-10-23 10:00:00"
                                codigo_chamado_tipo:
                                    type: integer
                                    example: 1
                                codigo_chamado_status:
                                    type: integer
                                    example: 1
                                responsavel:
                                    type: integer
                                    example: 73251
                required: true
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    descricao:
                                                        type: string
                                                        example: "Fazendo um novo chamado exemplo"
                                                    data_original:
                                                        type: string
                                                        example: "2020-10-23T10:00:00-03:00"
                                                    codigo_chamado_tipo:
                                                        type: integer
                                                        example: 1
                                                    codigo_cliente:
                                                        type: integer
                                                        example: 10011
                                                    codigo_chamado_status:
                                                        type: integer
                                                        example: 1
                                                    responsavel:
                                                        type: integer
                                                        example: 73251
                                                    codigo_usuario_inclusao:
                                                        type: integer
                                                        example: 73251
                                                    data_inclusao:
                                                        type: string
                                                        example: "2020-07-27T19:32:36-03:00"
                                                    data_adiar_para:
                                                        type: string
                                                        example: "2020-10-23T10:00:00-03:00"
                                                    codigo:
                                                        type: integer
                                                        example: 19
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'

        put:
            operationId: putChamado
            tags:
                - Chamado
            description: >-
                Alterar o Chamado para adiar ou cancelar
            security: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                codigo:
                                    type: integer
                                    example: 1
                                codigo_cliente:
                                    type: integer
                                    example: 10011
                                descricao:
                                    type: string
                                    example: "Editado chamado para gestão risco"
                                codigo_chamado_tipo:
                                    type: integer
                                    example: 1
                                codigo_chamado_status:
                                    type: integer
                                    example: 1
                                data_adiar_para:
                                    type: string
                                    example: "2020-10-25 11:00:00"
                                razao_adiar:
                                    type: string
                                    example: "Descrição de adiar"
                                data_cancelamento:
                                    type: string
                                    example: "2020-10-25 12:00:00"
                                razao_cancelamento:
                                    type: string
                                    example: "Descrição de chamado cancelado"
                                responsavel:
                                    type: integer
                                    example: 73251
                required: true

            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: object
                                                properties:
                                                    codigo:
                                                        type: integer
                                                        example: 1
                                                    codigo_cliente:
                                                        type: integer
                                                        example: 10011
                                                    descricao:
                                                        type: string
                                                        example: "Editado chamado para gestão risco"
                                                    codigo_chamado_tipo:
                                                        type: integer
                                                        example: 1
                                                    codigo_chamado_status:
                                                        type: integer
                                                        example: 1
                                                    data_inclusao:
                                                        type: string
                                                        example: "2020-07-27T19:32:36-03:00"
                                                    codigo_usuario_inclusao:
                                                        type: integer
                                                        example: 73251
                                                    data_alteracao:
                                                        type: string
                                                        example: "2020-07-27T19:32:36-03:00"
                                                    codigo_usuario_alteracao:
                                                        type: integer
                                                        example: 73251
                                                    data_original:
                                                        type: string
                                                        example: "2020-10-23T10:00:00-03:00"
                                                    data_adiar_de:
                                                        type: string
                                                        example: "2020-10-23T10:00:00-03:00"
                                                    data_adiar_para:
                                                        type: string
                                                        example: "2020-10-25T12:00:00-03:00"
                                                    razao_adiar:
                                                        type: string
                                                        example: "Descrição de adiar"
                                                    data_cancelamento:
                                                        type: string
                                                        example: "2020-10-25T12:00:00-03:00"
                                                    razao_cancelamento:
                                                        type: string
                                                        example: "Descrição de chamado cancelado"
                                                    responsavel:
                                                        type: integer
                                                        example: 73251

                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'

                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'

    '/levantamento/{codigo_cliente}':
        get:
            operationId: getAllLevantamentos
            tags:
                - Gestão de risco
            description: Levantamentos de campo vindo do chamado, figma (01.01)
            security:
                - bearerAuth: []
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            levantamentoChamado:
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        codigo:
                                                            type: integer
                                                            example: 4
                                                        codigo_chamado:
                                                            type: integer
                                                            example: 14
                                                        codigo_cliente:
                                                            type: integer
                                                            example: 10011
                                                        codigo_usuario_inclusao:
                                                            type: integer
                                                            example: 70858
                                                        data_inclusao:
                                                            type: string
                                                            example: "2020-07-27T12:22:46-03:00"
                                                        data_alteracao:
                                                            type: string
                                                            example: ""
                                                        data_adiamento:
                                                            type: string
                                                            example: ""
                                                        observacao:
                                                            type: string
                                                            example: "Fazendo um novo chamado "
                                                        codigo_levantamento_chamado_status:
                                                            type: integer
                                                            example: 1
                                                        dados_cliente:
                                                            type: object
                                                            properties:
                                                                razao_social:
                                                                    type: string
                                                                    example: "EMPRESA TREINAMENTO"
                                                                responsavel:
                                                                    type: string
                                                                    example: 'duda'
                                                                endereco:
                                                                    type: object
                                                                    properties:
                                                                        complemento:
                                                                            type: string
                                                                            example: "SALA 04"
                                                                        numero:
                                                                            type: string
                                                                            example: "685"
                                                                        cep:
                                                                            type: string
                                                                            example: "01327000"
                                                                        logradouro:
                                                                            type: string
                                                                            example: "RUA TREZE DE MAIO"
                                                                        bairro:
                                                                            type: string
                                                                            example: "BELA VISTA"
                                                                        cidade:
                                                                            type: string
                                                                            example: "SÃO PAULO"
                                                                        estado_descricao:
                                                                            type: string
                                                                            example: "SP"
                                                                        estado_abreviacao:
                                                                            type: string
                                                                            example: "SP"

                                                        processo:
                                                            type: object
                                                            properties:
                                                                codigo:
                                                                    type: integer
                                                                    example: 1
                                                                codigo_levantamento_chamado:
                                                                    type: integer
                                                                    example: 4
                                                                codigo_cliente:
                                                                    type: integer
                                                                    example: 10011
                                                                titulo:
                                                                    type: string
                                                                    example: "null"
                                                                descricao:
                                                                    type: string
                                                                    example: "null"
                                                                codigo_usuario_inclusao:
                                                                    type: integer
                                                                    example: 70858
                                                                codigo_usuario_alteracao:
                                                                    type: string
                                                                    example: "null"
                                                                data_inclusao:
                                                                    type: string
                                                                    example: "2020-07-27T12:22:47-03:00"
                                                                data_alteracao:
                                                                    type: string
                                                                    example: "null"
                                                                codigo_processo_tipo:
                                                                    type: string
                                                                    example: "null"

                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found

    '/levantamento/cliente/{codigo_cliente}/responsavel/{codigo_responsavel}':
        get:
            operationId: getAllLevantamentosPorResponsavel
            tags:
                - Gestão de risco
            description: Lista de Levantamentos de chamados por Responsavel
            security:
                - bearerAuth: []
            parameters:
                - in: query
                  name: pendente
                  schema:
                      type: boolean
                      example: true
                  required: false
                  description: Filtrar por levantamentos de chamados por Responsavel pendentes
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            levantamentoChamado:
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        codigo:
                                                            type: integer
                                                            example: 4
                                                        codigo_chamado:
                                                            type: integer
                                                            example: 14
                                                        codigo_cliente:
                                                            type: integer
                                                            example: 10011
                                                        codigo_usuario_inclusao:
                                                            type: integer
                                                            example: 70858
                                                        data_inclusao:
                                                            type: string
                                                            example: "2020-07-27T12:22:46-03:00"
                                                        data_alteracao:
                                                            type: string
                                                            example: ""
                                                        data_adiamento:
                                                            type: string
                                                            example: ""
                                                        observacao:
                                                            type: string
                                                            example: "Fazendo um novo chamado "
                                                        codigo_levantamento_chamado_status:
                                                            type: integer
                                                            example: 1
                                                        dados_cliente:
                                                            type: object
                                                            properties:
                                                                razao_social:
                                                                    type: string
                                                                    example: "EMPRESA TREINAMENTO"
                                                                responsavel:
                                                                    type: string
                                                                    example: 'duda'
                                                                endereco:
                                                                    type: object
                                                                    properties:
                                                                        complemento:
                                                                            type: string
                                                                            example: "SALA 04"
                                                                        numero:
                                                                            type: string
                                                                            example: "685"
                                                                        cep:
                                                                            type: string
                                                                            example: "01327000"
                                                                        logradouro:
                                                                            type: string
                                                                            example: "RUA TREZE DE MAIO"
                                                                        bairro:
                                                                            type: string
                                                                            example: "BELA VISTA"
                                                                        cidade:
                                                                            type: string
                                                                            example: "SÃO PAULO"
                                                                        estado_descricao:
                                                                            type: string
                                                                            example: "SP"
                                                                        estado_abreviacao:
                                                                            type: string
                                                                            example: "SP"

                                                        processo:
                                                            type: object
                                                            properties:
                                                                codigo:
                                                                    type: integer
                                                                    example: 1
                                                                codigo_levantamento_chamado:
                                                                    type: integer
                                                                    example: 4
                                                                codigo_cliente:
                                                                    type: integer
                                                                    example: 10011
                                                                titulo:
                                                                    type: string
                                                                    example: "null"
                                                                descricao:
                                                                    type: string
                                                                    example: "null"
                                                                codigo_usuario_inclusao:
                                                                    type: integer
                                                                    example: 70858
                                                                codigo_usuario_alteracao:
                                                                    type: string
                                                                    example: "null"
                                                                data_inclusao:
                                                                    type: string
                                                                    example: "2020-07-27T12:22:47-03:00"
                                                                data_alteracao:
                                                                    type: string
                                                                    example: "null"
                                                                codigo_processo_tipo:
                                                                    type: string
                                                                    example: "null"

                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found

    '/levantamento/{codigo_cliente}/{codigo_levantamento_chamado}':
        get:
            operationId: getLevantamentos
            tags:
                - Gestão de risco
            description: Levantamentos de campo vindo do chamado, figma (01.01)
            security:
                - bearerAuth: []

            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            levantamentoChamado:
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        codigo:
                                                            type: integer
                                                            example: 4
                                                        codigo_chamado:
                                                            type: integer
                                                            example: 14
                                                        codigo_cliente:
                                                            type: integer
                                                            example: 10011
                                                        codigo_usuario_inclusao:
                                                            type: integer
                                                            example: 70858
                                                        data_inclusao:
                                                            type: string
                                                            example: "2020-07-27T12:22:46-03:00"
                                                        data_alteracao:
                                                            type: string
                                                            example: ""
                                                        data_adiamento:
                                                            type: string
                                                            example: ""
                                                        observacao:
                                                            type: string
                                                            example: "Fazendo um novo chamado "
                                                        codigo_levantamento_chamado_status:
                                                            type: integer
                                                            example: 1
                                                        dados_cliente:
                                                            type: object
                                                            properties:
                                                                razao_social:
                                                                    type: string
                                                                    example: "EMPRESA TREINAMENTO"
                                                                responsavel:
                                                                    type: string
                                                                    example: 'duda'
                                                                endereco:
                                                                    type: object
                                                                    properties:
                                                                        complemento:
                                                                            type: string
                                                                            example: "SALA 04"
                                                                        numero:
                                                                            type: string
                                                                            example: "685"
                                                                        cep:
                                                                            type: string
                                                                            example: "01327000"
                                                                        logradouro:
                                                                            type: string
                                                                            example: "RUA TREZE DE MAIO"
                                                                        bairro:
                                                                            type: string
                                                                            example: "BELA VISTA"
                                                                        cidade:
                                                                            type: string
                                                                            example: "SÃO PAULO"
                                                                        estado_descricao:
                                                                            type: string
                                                                            example: "SP"
                                                                        estado_abreviacao:
                                                                            type: string
                                                                            example: "SP"

                                                        processo:
                                                            type: object
                                                            properties:
                                                                codigo:
                                                                    type: integer
                                                                    example: 1
                                                                codigo_levantamento_chamado:
                                                                    type: integer
                                                                    example: 4
                                                                codigo_cliente:
                                                                    type: integer
                                                                    example: 10011
                                                                titulo:
                                                                    type: string
                                                                    example: "null"
                                                                descricao:
                                                                    type: string
                                                                    example: "null"
                                                                codigo_usuario_inclusao:
                                                                    type: integer
                                                                    example: 70858
                                                                codigo_usuario_alteracao:
                                                                    type: string
                                                                    example: "null"
                                                                data_inclusao:
                                                                    type: string
                                                                    example: "2020-07-27T12:22:47-03:00"
                                                                data_alteracao:
                                                                    type: string
                                                                    example: "null"
                                                                codigo_processo_tipo:
                                                                    type: string
                                                                    example: "null"

                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            data:
                                                type: string
                                                example: Not Found
        put:
            operationId: putLevantamentos
            tags:
                - Gestão de risco
            description: Editar levantamentos de campo vindo do chamado, figma - Cancelar ou Adiar 2.1 - Adiar
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: data_adiamento
                  schema:
                      type: string
                  required: false
                  description: "2020-07-30"
                - in: path
                  name: observacao
                  schema:
                      type: string
                  required: false
                  description: "Observação editar"
                - in: path
                  name: codigo_levantamento_chamado_status
                  schema:
                      type: integer
                  required: false
                  description: "2"
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                data_adiamento:
                                    type: integer
                                    example: "2020-07-30"
                                observacao:
                                    type: string
                                    example: "Observação editar"
                                codigo_levantamento_chamado_status:
                                    type: integer
                                    example: 2

            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            dados:
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        data_adiamento:
                                                            type: string
                                                            example: "2020-07-30 00:00:00"
                                                        observacao:
                                                            type: string
                                                            example: "Observação editar"
                                                        codigo_levantamento_chamado_status:
                                                            type: integer
                                                            example: 2
                                                        codigo_usuario_alterecao:
                                                            type: integer
                                                            example: 70858
                                                        data_alteracao:
                                                            type: integer
                                                            example: "2020-07-26 18:27:04"
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            error:
                                                type: object
                                                properties:
                                                    message:
                                                        type: array
                                                        items:
                                                            type: object
                                                            properties:
                                                                error:
                                                                    type: string
                                                                    example: "Codigo da LevantamentosChamados inexistente"

    '/levantamento/avaliacao':
        put:
            operationId: putLevantamentoAvaliacao
            tags:
                - Gestão de risco
            description: Editar a avaliação do levantamento
            security:
                - bearerAuth: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                codigo_levantamento_chamado:
                                    type: integer
                                    example: 18
                                codigo_usuario_gestor_operacao:
                                    type: integer
                                    example: 10011
                                codigo_usuario_tecnico_ehs:
                                    type: integer
                                    example: 10011
                                codigo_usuario_operador:
                                    type: integer
                                    example: 10011
                                data_inicio_avaliacao:
                                    type: string
                                    example: "2020-09-24 15:01:02"
                                data_fim_avaliacao:
                                    type: string
                                    example: "2020-09-25 10:30:25"
                                companheiro_avaliacao:
                                    type: string
                                    example: "Avaliação do companheiro"
                                nota_avaliacao:
                                    type: integer
                                    example: 4
                                descricao_avaliacao:
                                    type: string
                                    example: "Descrição da avaliação"

            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        type: object
                                        properties:
                                            levantamentoChamado:
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        codigo:
                                                            type: integer
                                                            example: 18
                                                        codigo_chamado:
                                                            type: integer
                                                            example: 59
                                                        codigo_cliente:
                                                            type: integer
                                                            example: 10011
                                                        codigo_usuario_inclusao:
                                                            type: integer
                                                            example: 73067
                                                        codigo_usuario_alterecao:
                                                            type: integer
                                                            example: 70858
                                                        data_adiamento:
                                                            type: string
                                                            example: "2020-07-30 00:00:00"
                                                        observacao:
                                                            type: string
                                                            example: "Observação editar"
                                                        codigo_levantamento_chamado_status:
                                                            type: integer
                                                            example: 1
                                                        codigo_usuario_gestor_operacao:
                                                            type: integer
                                                            example: 10011
                                                        codigo_usuario_tecnico_ehs:
                                                            type: integer
                                                            example: 10011
                                                        codigo_usuario_operador:
                                                            type: integer
                                                            example: 10011
                                                        data_inicio_avaliacao:
                                                            type: string
                                                            example: "2020-09-24 15:01"
                                                        data_fim_avaliacao:
                                                            type: string
                                                            example: "2020-09-25 10:30"
                                                        companheiro_avaliacao:
                                                            type: string
                                                            example: "2020-09-25 10:30"
                                                        nota_avaliacao:
                                                            type: integer
                                                            example: 4
                                                        descricao_avaliacao:
                                                            type: string
                                                            example: "Descrição da avaliação"
                                                        data_inclusao:
                                                            type: string
                                                            example: "2020-07-21 18:27:04"
                                                        data_alteracao:
                                                            type: string
                                                            example: "2020-07-26 18:27:04"
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unauthorized'
                '404':
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 404
                                    result:
                                        type: object
                                        properties:
                                            error:
                                                type: object
                                                properties:
                                                    message:
                                                        type: array
                                                        items:
                                                            type: object
                                                            properties:
                                                                error:
                                                                    type: string
                                                                    example: "Codigo da LevantamentosChamados inexistente"

    '/processos':
        get:
            operationId: getProcessosAll
            tags:
                - Processos
            description: >-
                Retorna todos os itens relacionados aos processos
            security:
                -   bearerAuth: [ ]

            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: number
                                        example: 200
                                    result:
                                        properties:
                                            data:
                                                type: "array"
                                                items:
                                                    type: "object"
                                                    properties:
                                                        codigo:
                                                            type: integer
                                                            example: 17
                                                        codigo_levantamento_chamado:
                                                            type: integer
                                                            example: 24
                                                        codigo_cliente:
                                                            type: integer
                                                            example: 10011
                                                        titulo:
                                                            type: string
                                                            example: "Editando o processo 16"
                                                        descricao:
                                                            type: string
                                                            example: "Editando a descrição do processo 16"
                                                        codigo_usuario_inclusao:
                                                            type: integer
                                                            example: 70858
                                                        codigo_usuario_alteracao:
                                                            type: integer
                                                            example: 70858
                                                        data_inclusao:
                                                            type: string
                                                            example: "2020-09-10T19:15:29-03:00"
                                                        data_alteracao:
                                                            type: string
                                                            example: "2020-09-10T19:15:29-03:00"
                                                        codigo_processo_tipo:
                                                            type: integer
                                                            example: 2
                                                        etapas:
                                                            type: array
                                                            items:
                                                                properties:
                                                                    codigo:
                                                                        type: integer
                                                                        example: 36166
                                                                    codigo_processo:
                                                                        type: integer
                                                                        example: 17
                                                                    descricao:
                                                                        type: string
                                                                        example: "Etapa 1"
                                                                    posicao:
                                                                        type: integer
                                                                        example: 1

                                                        etapas_selecionadas:
                                                            type: array
                                                            items:
                                                                properties:
                                                                    codigo:
                                                                        type: integer
                                                                        example: 85
                                                                    codigo_processo_ferramenta:
                                                                        type: integer
                                                                        example: 36166
                                                                    AgentesRiscos:
                                                                        type: array
                                                                        items:
                                                                            properties:
                                                                                codigo:
                                                                                    type: integer
                                                                                    example: 60
                                                        agentes_riscos:
                                                            type: array
                                                            items:
                                                                properties:
                                                                    codigo:
                                                                        type: integer
                                                                        example: 83
                                                                    codigo_agente_risco:
                                                                        type: integer
                                                                        example: 60
                                                                    codigo_risco_tipo:
                                                                        type: integer
                                                                        example: 1
                                                                    perigos_aspectos:
                                                                        type: array
                                                                        items:
                                                                            properties:
                                                                                codigo:
                                                                                    type: integer
                                                                                    example: 66
                                                                                codigo_ar_rt:
                                                                                    type: integer
                                                                                    example: 83
                                                                                codigo_perigo_aspecto:
                                                                                    type: integer
                                                                                    example: 6
                                                                    riscos_impactos:
                                                                        type: array
                                                                        items:
                                                                            properties:
                                                                                codigo:
                                                                                    type: integer
                                                                                    example: 92
                                                                                codigo_arrt_pa:
                                                                                    type: integer
                                                                                    example: 65
                                                                                codigo_risco_impacto:
                                                                                    type: integer
                                                                                    example: 1
                                                                                descricao_risco:
                                                                                    type: object
                                                                                    properties:
                                                                                        codigo:
                                                                                            type: integer
                                                                                            example: 40
                                                                                        codigo_arrtpa_ri:
                                                                                            type: integer
                                                                                            example: 92
                                                                                        descricao_risco:
                                                                                            type: string
                                                                                            example: "Teste descrição de risco"
                                                                                        descricao_exposicao:
                                                                                            type: string
                                                                                            example: "Teste descrição exposição"
                                                                                        pessoas_expostas:
                                                                                            type: integer
                                                                                            example: 5
                                                                                        fontes_geradoras_exposicao:
                                                                                            type: array
                                                                                            items:
                                                                                                properties:
                                                                                                    codigo:
                                                                                                        type: integer
                                                                                                        example: 66
                                                                                                    codigo_ar_rt:
                                                                                                        type: integer
                                                                                                        example: 83
                                                                                                    codigo_perigo_aspecto:
                                                                                                        type: integer
                                                                                                        example: 6
                                                                                medidas_controle:
                                                                                    type: array
                                                                                    items:
                                                                                        properties:
                                                                                            codigo:
                                                                                                type: integer
                                                                                                example: 66
                                                                                            codigo_arrtpa_ri:
                                                                                                type: integer
                                                                                                example: 92
                                                                                            codigo_medida_controle_hierarquia_tipo:
                                                                                                type: integer
                                                                                                example: 1
                                                                                            titulo:
                                                                                                type: string
                                                                                                example: "teste processo get 2"
                                                                                            descricao:
                                                                                                type: string
                                                                                                example: "Descrição de medida de controle"
                                                                                qualificacao:
                                                                                    type: object
                                                                                    properties:
                                                                                        codigo:
                                                                                            type: integer
                                                                                            example: 40
                                                                                        codigo_arrtpa_ri:
                                                                                            type: integer
                                                                                            example: 92
                                                                                        qualitativo:
                                                                                            type: integer
                                                                                            example: 1
                                                                                        quantitativo:
                                                                                            type: integer
                                                                                            example: 0
                                                                                        codigo_metodo_tipo:
                                                                                            type: integer
                                                                                            example: 2
                                                                                        ferramentas_analise:
                                                                                            type: array
                                                                                            items:
                                                                                                properties:
                                                                                                    codigo:
                                                                                                        type: integer
                                                                                                        example: 22
                                                                                                    codigo_qualificacao:
                                                                                                        type: integer
                                                                                                        example: 19
                                                                                                    codigo_ferramenta_analise_tipo:
                                                                                                        type: integer
                                                                                                        example: 8
                                                                                                    ferramenta_analise_resultado:
                                                                                                        type: string
                                                                                                        example: "baixo"
                                                                                                    ferramenta_analise_level:
                                                                                                        type: string
                                                                                                        example: "json"
                                                                                                    codigo_usuario_inclusao:
                                                                                                        type: integer
                                                                                                        example: 70858
                                                                                                    codigo_usuario_alteracao:
                                                                                                        type: integer
                                                                                                        example: "null"
                                                                                                    data_inclusao:
                                                                                                        type: string
                                                                                                        example: "2020-09-10T19:17:26-03:00"
                                                                                                    data_alteracao:
                                                                                                        type: string
                                                                                                        example: "null"
                                                                                        aprho:
                                                                                            type: array
                                                                                            items:
                                                                                                properties:
                                                                                                    codigo:
                                                                                                        type: integer
                                                                                                        example: 22
                                                                                                    codigo_qualificacao:
                                                                                                        type: integer
                                                                                                        example: 19
                                                                                                    exposicao_duracao:
                                                                                                        type: integer
                                                                                                        example: 2
                                                                                                    exposicao_frequencia:
                                                                                                        type: string
                                                                                                        example: "Dias"
                                                                                                    codigo_fonte_geradora_exposicao_tipo:
                                                                                                        type: integer
                                                                                                        example: 2
                                                                                                    codigo_fonte_geradora_exposicao:
                                                                                                        type: integer
                                                                                                        example: 1
                                                                                                    codigo_agente_exposicao:
                                                                                                        type: integer
[...]
